Repository hornexcode/hornex: changes, and which lefthook commands are due for each by the changed paths.
All: root-install, web-install, web-lint, api-install, api-lint, api-format

root-install:
  run: yarn install

web-install:
  run: yarn install

web-lint:
  run: yarn lint

api-install:
  run: poetry install --no-root

api-lint:
  run: poetry run ruff check --fix .

api-format:
  run: poetry run ruff format .

chore: reverted nginx changes
  services/hornex-api/nginx/nginx.conf
Due: api-install, api-lint, api-format

chore: added sslmode to django postgres conn str
  services/hornex-api/core/settings.py
Due: api-install, api-lint, api-format

chore: decrease gunicorn workers
  services/hornex-api/gunicorn/gunicorn.service
Due: api-install, api-lint, api-format

chore: hornex-web eslint fixes
  services/hornex-web/package.json
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches-tab-content/admin-tournament-matches-tab-content.tsx
  services/hornex-web/src/components/admin/molecules/tournament-row/index.tsx
  services/hornex-web/src/components/admin/molecules/tournament-row/tournament-row.tsx
  services/hornex-web/src/components/admin/molecules/tournament-row/tournament-row.types.ts
  services/hornex-web/src/components/admin/organisms/admin-tournament-tab-nav/admin-tournament-tab-nav.tsx
  services/hornex-web/src/components/admin/organisms/tournament-table/index.tsx
  services/hornex-web/src/components/admin/organisms/tournament-table/tournament-table.tsx
  services/hornex-web/src/components/admin/organisms/tournament-table/tournament-table.types.ts
  services/hornex-web/src/components/profile/wallet-menu-item.tsx
  services/hornex-web/src/components/ui/atoms/scrollbar.tsx
  services/hornex-web/src/components/ui/input-money.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.types.ts
  services/hornex-web/src/components/ui/molecules/tournament-feed-item/tournament-feed-item.types.ts
  services/hornex-web/src/components/ui/molecules/tournament-phases-widget/tournament-phases-widget.tsx
  services/hornex-web/src/components/ui/molecules/tournament-registration-state-progress/tournament-registration-state-progress.tsx
  services/hornex-web/src/components/ui/organisms/register-team-view/register-team-modal-view.tsx
  services/hornex-web/src/components/ui/organisms/team-register-form/team-register-form.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-details-tab-panels.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-overview-tab-panel/tournament-overview-tab-panel.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-standing-tab-panel/tournament-standing-tab-panel.tsx
  services/hornex-web/src/components/ui/organisms/tournament-tab-panels/tournament-tab-panels.tsx
  services/hornex-web/src/components/ui/templates/teams/teams.tsx
  services/hornex-web/src/components/ui/templates/tournament-checkout-template/tournament-checkout-template.types.ts
  services/hornex-web/src/components/ui/templates/tournaments-feed-template/index.tsx
  services/hornex-web/src/components/ui/templates/tournaments-feed-template/tournaments-feed-template.types.ts
  services/hornex-web/src/contexts/admin-tournament.tsx
  services/hornex-web/src/contexts/tournament.tsx
  services/hornex-web/src/lib/models/index.ts
  services/hornex-web/src/lib/stripe/index.ts
  services/hornex-web/src/lib/stripe/payment.ts
  services/hornex-web/src/lib/utils.ts
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/index.tsx
Due: root-install, web-install, web-lint

chore: updated yarn lock
  services/hornex-web/yarn.lock
Due: web-install, web-lint

chore: removed mailer from web
  services/hornex-web/src/mail/templates/index.tsx
  services/hornex-web/src/mail/templates/readme.md
  services/hornex-web/src/mail/templates/registration-success.tsx
Due: root-install, web-install, web-lint

chore: added eslintrc to hornex-web
  services/hornex-api/core/settings.py
  services/hornex-api/lib/mailer/__init__.py
  services/hornex-web/src/components/ui/templates/tournaments-feed-template/tournaments-feed-template.tsx
  services/hornex-web/src/components/ui/templates/tournaments-feed-template/tournaments-feed-template.types.ts
  services/hornex-web/src/pages/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/pages/[platform]/[game]/tournaments/index.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: move eslint to dev dependencies
  services/hornex-web/package.json
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/admin-tournament-details.handlers.tsx
  services/hornex-web/src/pages/admin/tournaments/index.tsx
Due: root-install, web-install, web-lint

chore: eslintrc js file created
  services/hornex-web/.eslintrc.js
Due: root-install, web-install, web-lint

chore: removed auth signin from nextauthjs
  services/hornex-web/src/pages/auth/signin/index.tsx
Due: root-install, web-install, web-lint

chore: make compete page server side
  services/hornex-web/src/pages/compete.tsx
Due: root-install, web-install, web-lint

chore: minor adjustments
  .eslintrc.js
  services/hornex-web/.eslintrc.js
  services/hornex-web/package.json
  services/hornex-web/src/components/ui/atoms/icons/x-mark-icon.tsx
  services/hornex-web/src/pages/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/pages/[platform]/[game]/tournaments/index.tsx
  services/hornex-web/src/pages/compete.tsx
  services/hornex-web/yarn.lock
Due: root-install, web-install, web-lint

chore: fixed tournament import
  services/hornex-web/src/pages/registration/[id]/checkout.tsx
Due: root-install, web-install, web-lint

chore: move settings to hornex-web
  .eslintrc.js
  services/hornex-web/.eslintrc.js
  services/hornex-web/package.json
Due: root-install, web-install, web-lint

chore: removed yarn from lefthook
  lefthook.yaml
  services/hornex-web/package-lock.json
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/admin-tournament-details-tab-content.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/admin-tournament-details.handlers.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/yarn.lock
Due: root-install, web-install, web-lint

chore: removed mailer from web (#153)
  .eslintrc.js
  lefthook.yaml
  services/hornex-api/core/settings.py
  services/hornex-api/lib/mailer/__init__.py
  services/hornex-web/.eslintrc.js
  services/hornex-web/package-lock.json
  services/hornex-web/package.json
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/admin-tournament-details-tab-content.tsx
  services/hornex-web/src/components/ui/atoms/icons/x-mark-icon.tsx
  services/hornex-web/src/components/ui/templates/tournaments-feed-template/tournaments-feed-template.tsx
  services/hornex-web/src/components/ui/templates/tournaments-feed-template/tournaments-feed-template.types.ts
  services/hornex-web/src/mail/templates/index.tsx
  services/hornex-web/src/mail/templates/readme.md
  services/hornex-web/src/mail/templates/registration-success.tsx
  services/hornex-web/src/pages/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/pages/[platform]/[game]/tournaments/index.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/admin-tournament-details.handlers.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/pages/admin/tournaments/index.tsx
  services/hornex-web/src/pages/auth/signin/index.tsx
  services/hornex-web/src/pages/compete.tsx
  services/hornex-web/src/pages/registration/[id]/checkout.tsx
  services/hornex-web/yarn.lock
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

fix: MVP-89 | Fix all integration tests (#151)
  services/hornex-api/apps/tournaments/migrations/0007_alter_registration_challonge_participant_id.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/test_models.py
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/urls.py
  services/hornex-api/apps/tournaments/usecases/create_and_register_team_into_tournament.py
  services/hornex-api/apps/tournaments/usecases/organizer/end_match.py
  services/hornex-api/apps/tournaments/usecases/register_team_into_tournament.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/apps/webhooks/tests.py
  services/hornex-api/lib/mailer/__init__.py
Due: api-install, api-lint, api-format

feat: created match code email
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/usecases/organizer/start_match.py
  services/hornex-api/lib/mailer/__init__.py
  services/hornex-api/lib/mailer/_accounts.py
  services/hornex-api/lib/mailer/_sender.py
  services/hornex-api/lib/mailer/_tournaments.py
Due: api-install, api-lint, api-format

feat: MVP-88 | Create match code email template (#150)
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/usecases/organizer/start_match.py
  services/hornex-api/lib/mailer/__init__.py
  services/hornex-api/lib/mailer/_accounts.py
  services/hornex-api/lib/mailer/_sender.py
  services/hornex-api/lib/mailer/_tournaments.py
Due: api-install, api-lint, api-format

chore: finished index page configuration
  services/hornex-api/apps/tournaments/views.py
  services/hornex-web/bun.lockb
  services/hornex-web/package.json
  services/hornex-web/src/app/api/auth/[...nextauth]/na.ts
  services/hornex-web/src/app/fight/loading.tsx
  services/hornex-web/src/app/fight/page.tsx
  services/hornex-web/src/app/layout.tsx
  services/hornex-web/src/app/page.tsx
  services/hornex-web/src/assets/css/globals.css
  services/hornex-web/src/assets/images/admin-tournament-mock-viewer.png
  services/hornex-web/src/assets/images/header_ctt.png
  services/hornex-web/src/assets/images/tournament-mock-viewer.png
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.tsx
  services/hornex-web/src/components/profile/profile-menu-item.tsx
  services/hornex-web/src/components/ui/atoms/register-button.tsx
  services/hornex-web/src/components/ui/calendar.tsx
  services/hornex-web/src/components/ui/date-picker.tsx
  services/hornex-web/src/components/ui/form.tsx
  services/hornex-web/src/components/ui/molecules/connected-game-ids/connected-game-ids.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/privacy-policy.tsx
  services/hornex-web/src/pages/signin.tsx
  services/hornex-web/src/pages/signup.tsx
  services/hornex-web/src/pages/terms-and-conditions.tsx
  services/hornex-web/tailwind.config.js
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: removed fight page
  services/hornex-web/src/app/fight/loading.tsx
  services/hornex-web/src/app/fight/page.tsx
Due: root-install, web-install, web-lint

chore: finished index page configuration (#155)
  services/hornex-api/apps/tournaments/views.py
  services/hornex-web/bun.lockb
  services/hornex-web/package.json
  services/hornex-web/src/app/api/auth/[...nextauth]/na.ts
  services/hornex-web/src/app/layout.tsx
  services/hornex-web/src/app/page.tsx
  services/hornex-web/src/assets/css/globals.css
  services/hornex-web/src/assets/images/admin-tournament-mock-viewer.png
  services/hornex-web/src/assets/images/header_ctt.png
  services/hornex-web/src/assets/images/tournament-mock-viewer.png
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.tsx
  services/hornex-web/src/components/profile/profile-menu-item.tsx
  services/hornex-web/src/components/ui/atoms/register-button.tsx
  services/hornex-web/src/components/ui/calendar.tsx
  services/hornex-web/src/components/ui/date-picker.tsx
  services/hornex-web/src/components/ui/form.tsx
  services/hornex-web/src/components/ui/molecules/connected-game-ids/connected-game-ids.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/privacy-policy.tsx
  services/hornex-web/src/pages/signin.tsx
  services/hornex-web/src/pages/signup.tsx
  services/hornex-web/src/pages/terms-and-conditions.tsx
  services/hornex-web/tailwind.config.js
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: make authentication session secure
  services/hornex-api/apps/tournaments/views.py
  services/hornex-web/src/pages/api/auth/[...nextauth].ts
  services/hornex-web/src/pages/signin.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: make authentication session secure (#156)
  services/hornex-api/apps/tournaments/views.py
  services/hornex-web/src/pages/api/auth/[...nextauth].ts
  services/hornex-web/src/pages/signin.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: changed settings for cookie
  services/hornex-api/jwt_token/views.py
Due: api-install, api-lint, api-format

Fix authentication (#157)
  services/hornex-api/jwt_token/views.py
Due: api-install, api-lint, api-format

chore: made session cookie same site none
  services/hornex-api/jwt_token/views.py
Due: api-install, api-lint, api-format

fix: made session cookie same site none (#158)
  services/hornex-api/jwt_token/views.py
Due: api-install, api-lint, api-format

fix: add domain to cookie session
  services/hornex-api/core/settings.py
  services/hornex-api/jwt_token/views.py
Due: api-install, api-lint, api-format

Fix cookie session (#159)
  services/hornex-api/core/settings.py
  services/hornex-api/jwt_token/views.py
Due: api-install, api-lint, api-format

chore: added hornex domain to cookie creation
  services/hornex-api/jwt_token/views.py
  services/hornex-web/src/pages/api/auth/[...nextauth].ts
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

Added domain to cookie creation (#160)
  services/hornex-api/jwt_token/views.py
  services/hornex-web/src/pages/api/auth/[...nextauth].ts
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

fixed get_root_domain return value
  services/hornex-api/core/settings.py
  services/hornex-api/jwt_token/views.py
Due: api-install, api-lint, api-format

fixed get_root_domain return value (#161)
  services/hornex-api/core/settings.py
  services/hornex-api/jwt_token/views.py
Due: api-install, api-lint, api-format

chore: set cookie http only to false
  services/hornex-api/jwt_token/views.py
Due: api-install, api-lint, api-format

chore: set cookie http only to false (#162)
  services/hornex-api/jwt_token/views.py
Due: api-install, api-lint, api-format

chore: fixed same site param
  services/hornex-api/jwt_token/authentication.py
  services/hornex-api/jwt_token/views.py
Due: api-install, api-lint, api-format

chore: changed domain name in cookie
  services/hornex-api/core/settings.py
Due: api-install, api-lint, api-format

fix: typo on wrong domain name
  services/hornex-api/core/settings.py
Due: api-install, api-lint, api-format

Path conditions:
  root-install: any of: **/*.{ts,js,tsx,jsx}
  web-install: any of: services/hornex-web/** and ^services/hornex\-web/
  web-lint: any of: services/hornex-web/** and ^services/hornex\-web/
  api-install: any of: services/hornex-api/** and ^services/hornex\-api/
  api-lint: any of: services/hornex-api/** and ^services/hornex\-api/
  api-format: any of: services/hornex-api/** and ^services/hornex\-api/
