Repository hornexcode/hornex: changes, and which lefthook commands are due for each by the changed paths.
All: root-install, hornex-web, hornex-api

root-install:
  run: bun install

hornex-web:
  run: 'bun install
  
    bun lint
  
    '

hornex-api:
  run: 'poetry install --sync --no-root
  
    poetry run ruff check --fix .
  
    poetry run ruff format .
  
    '

chore: fetch public organizers profile
  services/hornex-api/apps/accounts/urls.py
  services/hornex-api/apps/accounts/views.py
  services/hornex-web/src/app/page.tsx
  services/hornex-web/src/components/profile/profile-menu-item.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/molecules/tournament-standings-tab-content/tournament-standings-tab-content.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/lib/request/routes.ts
Due: root-install, hornex-web, hornex-api

chore: fetch public organizers profile (#187)
  services/hornex-api/apps/accounts/urls.py
  services/hornex-api/apps/accounts/views.py
  services/hornex-web/src/app/page.tsx
  services/hornex-web/src/components/profile/profile-menu-item.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/molecules/tournament-standings-tab-content/tournament-standings-tab-content.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/lib/request/routes.ts
Due: root-install, hornex-web, hornex-api

feat: added hornex-web to tilt build
  Tiltfile
  devops/scripts/local-cluster
  kustomize/base/services/hornex-api/ingressroute.yaml
  kustomize/base/services/hornex-web/service.yaml
  kustomize/dev/kustomization.yaml
  kustomize/dev/services/hornex-web/kustomization.yaml
  services/hornex-web/Dockerfile
Due: hornex-web

chore: improvements made to register button state
  services/hornex-web/src/app/api/auth/[...nextauth]/options.ts
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.tsx
  services/hornex-web/src/components/ui/atoms/form/input-label.tsx
  services/hornex-web/src/components/ui/molecules/connected-game-ids/connected-game-ids.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/molecules/tournament-phases-widget/tournament-phases-widget.tsx
  services/hornex-web/src/components/ui/organisms/connect-account-view/connect-account-view.tsx
  services/hornex-web/src/components/ui/organisms/global-loading-view/global-loading-view.tsx
  services/hornex-web/src/components/ui/organisms/global-loading-view/index.tsx
  services/hornex-web/src/contexts/gameid.tsx
  services/hornex-web/src/lib/request/api.ts
  services/hornex-web/src/pages/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/pages/api/auth/[...nextauth].ts
Due: root-install, hornex-web

Improve tilt (#188)
  Tiltfile
  devops/scripts/local-cluster
  kustomize/base/services/hornex-api/ingressroute.yaml
  kustomize/base/services/hornex-web/service.yaml
  kustomize/dev/kustomization.yaml
  kustomize/dev/services/hornex-web/kustomization.yaml
  services/hornex-web/Dockerfile
  services/hornex-web/src/app/api/auth/[...nextauth]/options.ts
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.tsx
  services/hornex-web/src/components/ui/atoms/form/input-label.tsx
  services/hornex-web/src/components/ui/molecules/connected-game-ids/connected-game-ids.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/molecules/tournament-phases-widget/tournament-phases-widget.tsx
  services/hornex-web/src/components/ui/organisms/connect-account-view/connect-account-view.tsx
  services/hornex-web/src/components/ui/organisms/global-loading-view/global-loading-view.tsx
  services/hornex-web/src/components/ui/organisms/global-loading-view/index.tsx
  services/hornex-web/src/contexts/gameid.tsx
  services/hornex-web/src/lib/request/api.ts
  services/hornex-web/src/pages/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/pages/api/auth/[...nextauth].ts
Due: root-install, hornex-web

chore: added breakpoints to grid system
  services/hornex-web/src/app/(sidebar)/layout.tsx
  services/hornex-web/src/components/ui/templates/tournaments-feed-template/tournaments-feed-template.tsx
Due: root-install, hornex-web

chore: added breakpoints to grid system (#189)
  services/hornex-web/src/app/(sidebar)/layout.tsx
  services/hornex-web/src/components/ui/templates/tournaments-feed-template/tournaments-feed-template.tsx
Due: root-install, hornex-web

chore: removed deprecated component
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/index.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-details-tab-panels.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-overview-tab-panel/index.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-overview-tab-panel/tournament-overview-tab-panel.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-scoring-tab-panel/index.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-scoring-tab-panel/tournament-scoring-tab-panel.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-standing-tab-panel/index.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-standing-tab-panel/tournament-standing-tab-panel.tsx
Due: root-install, hornex-web

chore: removed deprecated component (#190)
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/index.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-details-tab-panels.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-overview-tab-panel/index.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-overview-tab-panel/tournament-overview-tab-panel.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-scoring-tab-panel/index.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-scoring-tab-panel/tournament-scoring-tab-panel.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-standing-tab-panel/index.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-standing-tab-panel/tournament-standing-tab-panel.tsx
Due: root-install, hornex-web

chore: added motion to the match detail
  services/hornex-web/src/app/(sidebar)/admin/tournaments/[id]/page.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/admin-tournament-details-tab-content.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-match/admin-tournament-match.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches/admin-tournament-matches.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches/index.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-team-row/admin-tournament-team-row.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-teams-tab-content/admin-tournament-teams-tab-content.tsx
  services/hornex-web/src/components/admin/organisms/admin-tournament-tab-nav/admin-tournament-tab-nav.tsx
  services/hornex-web/src/components/ui/card.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-prizes-tab-content/tournament-details-prize-tab-content.tsx
  services/hornex-web/src/components/ui/molecules/tournament-phases-widget/tournament-phases-widget.tsx
  services/hornex-web/src/components/ui/molecules/tournament-standings-tab-content/tournament-standings-tab-content.tsx
  services/hornex-web/src/components/ui/organisms/tournament-status-stepper/tournament-status-stepper.tsx
  services/hornex-web/src/components/ui/organisms/tournament-tab-panels/tournament-tab-panels.tsx
  services/hornex-web/src/components/v2/admin-tournament-dashboard/admin-tournament-dashboard.tsx
  services/hornex-web/src/components/v2/admin-tournament-dashboard/index.tsx
  services/hornex-web/src/components/v2/profile-form/profile-form.tsx
  services/hornex-web/src/contexts/admin-tournament-v2.tsx
  services/hornex-web/src/lib/models/Match.ts
  services/hornex-web/src/pages/admin/tournaments/index.tsx
Due: root-install, hornex-web

feat: improved admin dashboard for tournaments
  services/hornex-api/apps/accounts/models.py
  services/hornex-api/apps/games/models.py
  services/hornex-api/apps/games/urls.py
  services/hornex-api/apps/games/views.py
  services/hornex-api/apps/tournaments/management/commands/fixregistrations.py
  services/hornex-api/apps/tournaments/migrations/0008_remove_leagueoflegendstournament_provider_and_more.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/usecases/organizer/start_match.py
  services/hornex-api/apps/tournaments/usecases/organizer/start_tournament.py
  services/hornex-api/lib/riot/_tournament.py
  services/hornex-api/test/factories.py
  services/hornex-web/src/app/(sidebar)/admin/tournaments/[id]/page.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/admin-tournament-details-tab-content.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-match/admin-tournament-match.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches/admin-tournament-matches.tsx
  services/hornex-web/src/components/ui/molecules/tournament-feed-item/tournament-feed-item.tsx
  services/hornex-web/src/components/ui/templates/login-form/login-form.tsx
  services/hornex-web/src/components/ui/templates/tournaments-feed-template/tournaments-feed-template.tsx
  services/hornex-web/src/components/v2/admin-tournament-dashboard/admin-tournament-dashboard.tsx
  services/hornex-web/src/contexts/admin-tournament.tsx
  services/hornex-web/src/contexts/tournament.tsx
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/lib/request/api.ts
  services/hornex-web/src/pages/admin/tournaments/index.tsx
Due: root-install, hornex-web, hornex-api

feat: improved organizer tournament dashboard (#191)
  services/hornex-api/apps/accounts/models.py
  services/hornex-api/apps/games/models.py
  services/hornex-api/apps/games/urls.py
  services/hornex-api/apps/games/views.py
  services/hornex-api/apps/tournaments/management/commands/fixregistrations.py
  services/hornex-api/apps/tournaments/migrations/0008_remove_leagueoflegendstournament_provider_and_more.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/usecases/organizer/start_match.py
  services/hornex-api/apps/tournaments/usecases/organizer/start_tournament.py
  services/hornex-api/lib/riot/_tournament.py
  services/hornex-api/test/factories.py
  services/hornex-web/src/app/(sidebar)/admin/tournaments/[id]/page.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/admin-tournament-details-tab-content.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-match/admin-tournament-match.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches/admin-tournament-matches.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches/index.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-team-row/admin-tournament-team-row.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-teams-tab-content/admin-tournament-teams-tab-content.tsx
  services/hornex-web/src/components/admin/organisms/admin-tournament-tab-nav/admin-tournament-tab-nav.tsx
  services/hornex-web/src/components/ui/card.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-prizes-tab-content/tournament-details-prize-tab-content.tsx
  services/hornex-web/src/components/ui/molecules/tournament-feed-item/tournament-feed-item.tsx
  services/hornex-web/src/components/ui/molecules/tournament-phases-widget/tournament-phases-widget.tsx
  services/hornex-web/src/components/ui/molecules/tournament-standings-tab-content/tournament-standings-tab-content.tsx
  services/hornex-web/src/components/ui/organisms/tournament-status-stepper/tournament-status-stepper.tsx
  services/hornex-web/src/components/ui/organisms/tournament-tab-panels/tournament-tab-panels.tsx
  services/hornex-web/src/components/ui/templates/login-form/login-form.tsx
  services/hornex-web/src/components/ui/templates/tournaments-feed-template/tournaments-feed-template.tsx
  services/hornex-web/src/components/v2/admin-tournament-dashboard/admin-tournament-dashboard.tsx
  services/hornex-web/src/components/v2/admin-tournament-dashboard/index.tsx
  services/hornex-web/src/components/v2/profile-form/profile-form.tsx
  services/hornex-web/src/contexts/admin-tournament-v2.tsx
  services/hornex-web/src/contexts/admin-tournament.tsx
  services/hornex-web/src/contexts/tournament.tsx
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/lib/models/Match.ts
  services/hornex-web/src/lib/request/api.ts
  services/hornex-web/src/pages/admin/tournaments/index.tsx
Due: root-install, hornex-web, hornex-api

feat: created pipeline for deployment
  .github/workflows/deploy.yaml
  .vscode/settings.json
Due: none

feat: created pipeline for deployment (#192)
  .github/workflows/deploy.yaml
  .vscode/settings.json
Due: none

feat: added script deployment to ship code into production
  .github/workflows/deploy.yaml
  devops/hornex-api.pem
  devops/scripts/deploy
  services/hornex-api/apps/games/migrations/0003_delete_gameid.py
Due: hornex-api

chore: removed secret pem
  devops/hornex-api.pem
Due: none

feat: added deployment script (#193)
  .github/workflows/deploy.yaml
  devops/scripts/deploy
  services/hornex-api/apps/games/migrations/0003_delete_gameid.py
Due: hornex-api

chore: moved deployment file to api
  services/hornex-api/scripts/deploy.sh
Due: hornex-api

chore: moved deployment file to api (#194)
  services/hornex-api/scripts/deploy.sh
Due: hornex-api

chore: added deployment commands out of EOF
  services/hornex-api/scripts/deploy.sh
Due: hornex-api

chore: added deployment commands out of EOF (#195)
  services/hornex-api/scripts/deploy.sh
Due: hornex-api

chore: added pem file from secrets environment
  services/hornex-api/scripts/deploy.sh
Due: hornex-api

chore: added pem file from secrets environment (#196)
  services/hornex-api/scripts/deploy.sh
Due: hornex-api

chore: added prod environment to deploy pipeline
  .github/workflows/deploy.yaml
Due: none

chore: added prod environment to deploy pipeline (#197)
  .github/workflows/deploy.yaml
Due: none

chore: give permissions to aws pem file
  services/hornex-api/scripts/deploy.sh
Due: hornex-api

chore: give permissions to aws pem file (#198)
  services/hornex-api/scripts/deploy.sh
Due: hornex-api

fix: github do not support terminal commands run
  services/hornex-api/scripts/deploy.sh
Due: hornex-api

chore: test deploymet
  .github/workflows/deploy.yaml
Due: none

chore: fixed ssh client connection string
  .github/workflows/deploy.yaml
  services/hornex-api/scripts/deploy.sh
Due: hornex-api

turned off StrictHostKeyChecking
  .github/workflows/deploy.yaml
  services/hornex-api/scripts/deploy.sh
Due: hornex-api

chore: fixed end of file command
  .github/workflows/deploy.yaml
Due: none

chore: changed trigger to run deploy pipeline in main branch
  .github/workflows/deploy.yaml
Due: none

fix: github do not support terminal commands run (#199)
  .github/workflows/deploy.yaml
  services/hornex-api/scripts/deploy.sh
Due: hornex-api

feat: tournament details page componentization
  services/hornex-web/src/components/ui/molecules/tournament-detail-body/index.tsx
  services/hornex-web/src/components/ui/molecules/tournament-detail-body/tournament-details-body.tsx
  services/hornex-web/src/components/ui/molecules/tournament-detail-body/tournament-details-body.types.ts
  services/hornex-web/src/components/ui/molecules/tournament-details-widgets/index.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-widgets/tournament-details-widgets.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-widgets/tournament-details-widgets.types.ts
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
Due: root-install, hornex-web

fix: fixed components pros
  services/hornex-web/src/components/ui/molecules/tournament-detail-body/tournament-details-body.tsx
  services/hornex-web/src/components/ui/molecules/tournament-detail-body/tournament-details-body.types.ts
  services/hornex-web/src/components/ui/molecules/tournament-details-widgets/tournament-details-widgets.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-widgets/tournament-details-widgets.types.ts
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
Due: root-install, hornex-web

fixed storybook configuration
  bun.lockb
  services/hornex-web/.gitignore
  services/hornex-web/.storybook/main.ts
  services/hornex-web/.storybook/manager.ts
  services/hornex-web/.storybook/preview.ts
  services/hornex-web/bun.lockb
  services/hornex-web/package.json
  services/hornex-web/src/components/ui/organisms/team-register-form/team-register-form.stories.tsx
  services/hornex-web/src/components/ui/organisms/team-register-form/team-register-form.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/yarn.lock
  yarn.lock
Due: root-install, hornex-web

fix: storybook configuration (#201)
  bun.lockb
  services/hornex-web/.gitignore
  services/hornex-web/.storybook/main.ts
  services/hornex-web/.storybook/manager.ts
  services/hornex-web/.storybook/preview.ts
  services/hornex-web/bun.lockb
  services/hornex-web/package.json
  services/hornex-web/src/components/ui/organisms/team-register-form/team-register-form.stories.tsx
  services/hornex-web/src/components/ui/organisms/team-register-form/team-register-form.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/yarn.lock
  yarn.lock
Due: root-install, hornex-web

chore: fixed register team into tournament use case && fixed admin login
  services/hornex-api/apps/tournaments/domain/errors.py
  services/hornex-api/apps/tournaments/requests.py
  services/hornex-api/apps/tournaments/serializers.py
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/urls.py
  services/hornex-api/apps/tournaments/usecases/__init__.py
  services/hornex-api/apps/tournaments/usecases/create_and_register_team_into_tournament.py
  services/hornex-api/apps/tournaments/usecases/create_and_register_team_into_tournament_test.py
  services/hornex-api/apps/tournaments/usecases/register.py
  services/hornex-api/apps/tournaments/usecases/register_team_into_tournament.py
  services/hornex-api/apps/tournaments/usecases/register_team_into_tournament_test.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/core/settings.py
  services/hornex-web/src/components/ui/organisms/team-register-form/team-register-form.tsx
Due: root-install, hornex-web, hornex-api

feat: chore added new component for team registration
  services/hornex-web/.storybook/main.ts
  services/hornex-web/src/app/(sidebar)/[platform]/[game]/tournaments/[id]/registration/page.tsx
  services/hornex-web/src/components/ui/organisms/team-register-form/team-register-form.tsx
  services/hornex-web/src/components/v2/tournament-registration-form/index.tsx
  services/hornex-web/src/components/v2/tournament-registration-form/tournament-registration-form.handlers.ts
  services/hornex-web/src/components/v2/tournament-registration-form/tournament-registration-form.stories.tsx
  services/hornex-web/src/components/v2/tournament-registration-form/tournament-registration-form.tsx
  services/hornex-web/src/components/v2/tournament-registration-form/tournament-registration-form.types.ts
Due: root-install, hornex-web

Path conditions:
  root-install: any of: **/*.{ts,js,tsx,jsx}
  hornex-web: any of: services/hornex-web/** and ^services/hornex\-web/
  hornex-api: any of: services/hornex-api/** and ^services/hornex\-api/
