Repository hornexcode/hornex: changes, and which lefthook commands are due for each by the changed paths.
All: root-install, web-install, web-lint, api-install, api-lint, api-format

lefthook.yaml:

# https://github.com/evilmartians/lefthook

assert_lefthook_installed: true

pre-commit:
  follow: true

  commands:
    root-install:
      run: yarn install
      glob: "**/*.{ts,js,tsx,jsx}"

    web-install:
      glob: "services/hornex-web/**"
      run: yarn install
      root: services/hornex-web
    web-lint:
      glob: "services/hornex-web/**"
      run: yarn lint
      root: services/hornex-web

    api-install:
      glob: "services/hornex-api/**"
      run: poetry install --no-root
      root: services/hornex-api
    api-lint:
      glob: "services/hornex-api/**"
      run: poetry run ruff check --fix .
      root: services/hornex-api
    api-format:
      glob: "services/hornex-api/**"
      run: poetry run ruff format .
      root: services/hornex-api

chore: upgraded django to version 5
  services/hornex-api/apps/games/migrations/0001_initial.py
  services/hornex-api/apps/games/migrations/0002_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0001_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0002_initial.py
  services/hornex-api/apps/notifications/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0002_initial.py
  services/hornex-api/apps/platforms/migrations/0001_initial.py
  services/hornex-api/apps/teams/management/commands/createfaketeams.py
  services/hornex-api/apps/teams/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0002_initial.py
  services/hornex-api/apps/teams/models.py
  services/hornex-api/apps/teams/serializers.py
  services/hornex-api/apps/tournaments/management/commands/checkinparticipants.py
  services/hornex-api/apps/tournaments/migrations/0001_initial.py
  services/hornex-api/apps/tournaments/migrations/0002_initial.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/usecases/create_team_registration.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/apps/users/migrations/0001_initial.py
  services/hornex-api/apps/users/models.py
  services/hornex-api/apps/users/test_models.py
  services/hornex-api/apps/webhooks/tests.py
  services/hornex-api/bin/seed_database.py
  services/hornex-api/docker-entry.sh
  services/hornex-api/poetry.lock
  services/hornex-api/pyproject.toml
  services/hornex-api/test/factories.py
Due: api-install, api-lint, api-format

tests: fixed tournament registration integration tests
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/usecases/create_team_registration.py
  services/hornex-api/apps/users/test_models.py
  services/hornex-api/lib/riot/client.py
Due: api-install, api-lint, api-format

feat(devops): Make local-cluster up not fail when the cluster exists
  devops/scripts/local-cluster
  services/hornex-api/docker-entry-dev.sh
Due: api-install, api-lint, api-format

feat(dev): Refactor container entrypoints
  Tiltfile
  kustomize/base/services/hornex-api/deployment.yaml
  kustomize/base/services/hornex-celery/deployment.yaml
  kustomize/dev/services/hornex-api/deployment-command.yaml
  kustomize/dev/services/hornex-api/deployment-env.yaml
  kustomize/dev/services/hornex-api/kustomization.yaml
  kustomize/dev/services/hornex-celery/deployment-command.yaml
  kustomize/dev/services/hornex-celery/deployment-env.yaml
  kustomize/dev/services/hornex-celery/kustomization.yaml
  services/hornex-api/Dockerfile
  services/hornex-api/bin/seed_database.py
  services/hornex-api/dev-api.sh
  services/hornex-api/dev-celery.sh
  services/hornex-api/docker-entry.sh
  services/hornex-api/wait_for_postgres.py
Due: api-install, api-lint, api-format

fix(lefthook): Combine all commands into groups
  lefthook.yaml
Due: none

feat(devops): Make local-cluster up not fail when the cluster exists (#107)
  devops/scripts/local-cluster
  services/hornex-api/docker-entry-dev.sh
Due: api-install, api-lint, api-format

feat(dev): Refactor container entrypoints (#108)
  Tiltfile
  kustomize/base/services/hornex-api/deployment.yaml
  kustomize/base/services/hornex-celery/deployment.yaml
  kustomize/dev/services/hornex-api/deployment-command.yaml
  kustomize/dev/services/hornex-api/deployment-env.yaml
  kustomize/dev/services/hornex-api/kustomization.yaml
  kustomize/dev/services/hornex-celery/deployment-command.yaml
  kustomize/dev/services/hornex-celery/deployment-env.yaml
  kustomize/dev/services/hornex-celery/kustomization.yaml
  services/hornex-api/Dockerfile
  services/hornex-api/bin/seed_database.py
  services/hornex-api/dev-api.sh
  services/hornex-api/dev-celery.sh
  services/hornex-api/docker-entry.sh
  services/hornex-api/wait_for_postgres.py
Due: api-install, api-lint, api-format

fix(lefthook): Combine all commands into groups (#109)
  Tiltfile
  kustomize/dev/services/hornex-celery/deployment-command.yaml
  kustomize/dev/services/hornex-celery/hornex-celery-env.yaml
  kustomize/dev/services/hornex-celery/kustomization.yaml
  services/hornex-api/dev-celery.sh
  services/hornex-api/docker-entry-dev.sh
Due: api-install, api-lint, api-format

fix(lefthook): Combine all commands into groups (#109)
  lefthook.yaml
Due: none

feat: Remove celery
  Tiltfile
  kustomize/base/services/hornex-celery/deployment.yaml
  kustomize/base/services/hornex-celery/kustomization.yaml
  kustomize/dev/kustomization.yaml
  kustomize/dev/services/hornex-celery/deployment-command.yaml
  kustomize/dev/services/hornex-celery/deployment-env.yaml
  kustomize/dev/services/hornex-celery/kustomization.yaml
  services/hornex-api/dev-celery.sh
  services/hornex-api/docker-entry-dev.sh
  services/hornex-api/docker-entry.sh
  services/hornex-api/requirements.txt
Due: api-install, api-lint, api-format

feat(dev): Attach storage volume to dev containers for poetry cache
  kustomize/dev/services/hornex-api/deployment-storage.yaml
  kustomize/dev/services/hornex-api/kustomization.yaml
  kustomize/dev/services/hornex-api/pvc.yaml
Due: none

feat(dev): Attach storage volume to dev containers for poetry cache (#112)
  kustomize/dev/services/hornex-api/deployment-storage.yaml
  kustomize/dev/services/hornex-api/kustomization.yaml
  kustomize/dev/services/hornex-api/pvc.yaml
Due: none

chore: fixed webhooks for stripe payments
  services/hornex-api/apps/payments/models.py
  services/hornex-api/apps/payments/tests.py
  services/hornex-api/apps/payments/usecases/__init__.py
  services/hornex-api/apps/payments/usecases/confirm_payment_registration.py
  services/hornex-api/apps/payments/usecases/create_payment_registration.py
  services/hornex-api/apps/payments/views.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/webhooks/views.py
  services/hornex-api/core/urls.py
  services/hornex-api/test/factories.py
  services/hornex-nginx/nginx.conf
  services/hornex-web/src/components/ui/atoms/form/input.tsx
  services/hornex-web/src/components/ui/templates/tournament-checkout-template/tournament-checkout-template.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: fixed webhooks for stripe payments
  services/hornex-api/apps/accounts/migrations/0001_initial.py
  services/hornex-api/apps/accounts/migrations/0002_initial.py
  services/hornex-api/apps/games/migrations/0001_initial.py
  services/hornex-api/apps/games/migrations/0002_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0001_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0002_initial.py
  services/hornex-api/apps/notifications/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0002_initial.py
  services/hornex-api/apps/platforms/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0002_initial.py
  services/hornex-api/apps/tournaments/migrations/0001_initial.py
  services/hornex-api/apps/tournaments/migrations/0002_initial.py
  services/hornex-api/apps/tournaments/migrations/0003_rename_is_classification_open_tournament_open_classification_and_more.py
  services/hornex-api/apps/tournaments/migrations/0004_remove_leagueoflegendstournament_riot_id.py
  services/hornex-api/apps/tournaments/usecases/confirm_registration.py
  services/hornex-api/apps/users/migrations/0001_initial.py
  services/hornex-api/jwt_token/views.py
Due: api-install, api-lint, api-format

chore: fixed registration
  devops/scripts/local-cluster
  kustomize/base/cluster/traefik/kustomization.yaml
  kustomize/base/services/hornex-api/ingressroute.yaml
  kustomize/dev/services/hornex-api/deployment-env.yaml
  services/hornex-api/apps/accounts/admin.py
  services/hornex-api/apps/accounts/migrations/0003_gameid_alter_leagueoflegendssummoner_game_id.py
  services/hornex-api/apps/accounts/models.py
  services/hornex-api/apps/accounts/serializers.py
  services/hornex-api/apps/accounts/views.py
  services/hornex-api/apps/games/admin.py
  services/hornex-api/apps/games/serializers.py
  services/hornex-api/apps/games/views.py
  services/hornex-api/apps/leagueoflegends/migrations/0003_alter_session_game_id_alter_summoner_game_id.py
  services/hornex-api/apps/leagueoflegends/models.py
  services/hornex-api/apps/payments/tests.py
  services/hornex-api/apps/teams/management/commands/createdefaultteam.py
  services/hornex-api/apps/teams/management/commands/createteam.py
  services/hornex-api/apps/teams/models.py
  services/hornex-api/apps/tournaments/admin.py
  services/hornex-api/apps/tournaments/management/commands/createtournament.py
  services/hornex-api/apps/tournaments/migrations/0005_rename_leagueoflegendsello_leagueoflegendsleague_and_more.py
  services/hornex-api/apps/tournaments/migrations/0006_remove_leagueoflegendsleague_queue_type.py
  services/hornex-api/apps/tournaments/migrations/0007_rename_allowed_ellos_leagueoflegendstournament_classifications.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/serializers.py
  services/hornex-api/apps/tournaments/tasks.py
  services/hornex-api/apps/tournaments/test_models.py
  services/hornex-api/apps/tournaments/usecases/confirm_registration.py
  services/hornex-api/apps/tournaments/usecases/create_registration.py
  services/hornex-api/apps/users/test_models.py
  services/hornex-api/apps/webhooks/views.py
  services/hornex-api/bin/seed_database.py
  services/hornex-api/core/settings.py
  services/hornex-api/lib/challonge/_tournament.py
  services/hornex-api/test/factories.py
  services/hornex-web/src/components/ui/molecules/tournament-feed-item/tournament-feed-item.types.ts
  services/hornex-web/src/components/ui/templates/tournaments-feed-template/tournaments-feed-template.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: fixed registration
  services/hornex-api/apps/accounts/migrations/0003_gameid_alter_leagueoflegendssummoner_game_id.py
  services/hornex-api/apps/leagueoflegends/migrations/0003_alter_session_game_id_alter_summoner_game_id.py
  services/hornex-api/apps/teams/management/commands/createteam.py
  services/hornex-api/apps/tournaments/migrations/0005_rename_leagueoflegendsello_leagueoflegendsleague_and_more.py
  services/hornex-api/apps/tournaments/migrations/0006_remove_leagueoflegendsleague_queue_type.py
  services/hornex-api/apps/tournaments/migrations/0007_rename_allowed_ellos_leagueoflegendstournament_classifications.py
  services/hornex-api/apps/tournaments/tasks.py
Due: api-install, api-lint, api-format

chore: added team check in
  services/hornex-api/apps/tournaments/management/commands/createtournament.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/usecases/check_in_participant.py
  services/hornex-api/apps/tournaments/usecases/check_in_team.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/molecules/tournament-phases-widget/tournament-phases-widget.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-details-tab-panels.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-overview-tab-panel/tournament-overview-tab-panel.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-standing-tab-panel/tournament-standing-tab-panel.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/lib/models/Tournament.ts
  services/hornex-web/src/pages/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/tailwind.config.js
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: added new use case for check in
  services/hornex-api/apps/teams/admin.py
  services/hornex-api/apps/teams/management/commands/createsecondteam.py
  services/hornex-api/apps/teams/models.py
  services/hornex-api/apps/tournaments/management/commands/createtournament.py
  services/hornex-api/apps/tournaments/usecases/check_in_participant.py
  services/hornex-api/apps/tournaments/usecases/check_in_team.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/lib/challonge/_participant.py
  services/hornex-api/lib/challonge/_tournament.py
  services/hornex-web/src/components/ui/molecules/tournament-phases-widget/tournament-phases-widget.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-overview-tab-panel/tournament-overview-tab-panel.tsx
  services/hornex-web/src/layouts/index.tsx
  services/hornex-web/tailwind.config.js
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: added new sidebar
  services/hornex-api/apps/tournaments/management/commands/createtournament.py
  services/hornex-web/src/components/modal-views/container.tsx
  services/hornex-web/src/components/modal-views/context.tsx
  services/hornex-web/src/components/ui/atoms/register-button.tsx
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/molecules/payment-options/payment-options.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/molecules/tournament-phases-widget/tournament-phases-widget.tsx
  services/hornex-web/src/components/ui/organisms/processing-payment-view/index.tsx
  services/hornex-web/src/components/ui/organisms/processing-payment-view/processing-payment-view.tsx
  services/hornex-web/src/components/ui/organisms/register-team-view/checkout-step.tsx
  services/hornex-web/src/components/ui/organisms/register-team-view/index.tsx
  services/hornex-web/src/components/ui/organisms/register-team-view/register-team-modal-view.tsx
  services/hornex-web/src/components/ui/organisms/register-team-view/select-team-step.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-details-tab-panels.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-overview-tab-panel/tournament-overview-tab-panel.tsx
  services/hornex-web/src/components/ui/templates/tournament-checkout-template/tournament-checkout-template.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/components/ui/templates/tournaments-feed-template/tournaments-feed-template.tsx
  services/hornex-web/src/contexts/tournament.tsx
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/layouts/index.tsx
  services/hornex-web/src/lib/models/Tournament.ts
  services/hornex-web/src/pages/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/pages/index.tsx
  services/hornex-web/src/pages/thank-you.tsx
  services/hornex-web/tailwind.config.js
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: design token changed
  services/hornex-api/apps/tournaments/signals.py
  services/hornex-api/apps/tournaments/test_models.py
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/users/migrations/0001_initial.py
  services/hornex-api/apps/webhooks/tests.py
  services/hornex-api/core/settings.py
  services/hornex-api/test/factories.py
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/layouts/index.tsx
  services/hornex-web/src/layouts/menu/_default.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/compete.tsx
  services/hornex-web/src/pages/index.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: added new components to tournament create form
  services/hornex-api/apps/tournaments/migrations/0008_tournament_is_prize_pool_fixed_prize.py
  services/hornex-api/apps/tournaments/migrations/0009_remove_tournament_is_prize_pool_fixed_and_more.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-web/.dockerignore
  services/hornex-web/Dockerfile.bun
  services/hornex-web/bun.lockb
  services/hornex-web/package.json
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/calendar.tsx
  services/hornex-web/src/components/ui/checkbox.tsx
  services/hornex-web/src/components/ui/date-pick-range.tsx
  services/hornex-web/src/components/ui/date-picker.tsx
  services/hornex-web/src/components/ui/form.tsx
  services/hornex-web/src/components/ui/input-time.deprecated.tsx
  services/hornex-web/src/components/ui/input-time.tsx
  services/hornex-web/src/components/ui/input.tsx
  services/hornex-web/src/components/ui/label.tsx
  services/hornex-web/src/components/ui/popover.tsx
  services/hornex-web/src/components/ui/select.tsx
  services/hornex-web/src/components/ui/separator.tsx
  services/hornex-web/src/components/ui/switch.tsx
  services/hornex-web/src/components/ui/textarea.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/admin/tournaments/create.tsx
  services/hornex-web/src/pages/admin/tournaments/index.tsx
  services/hornex-web/src/pages/index.tsx
  services/hornex-web/src/styles/global.css
  services/hornex-web/tailwind.config.js
  services/hornex-web/yarn.lock
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

fix: removed authContex
  services/hornex-web/src/components/profile/profile-menu-item.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/index.tsx
  services/hornex-web/src/pages/login.tsx
  services/hornex-web/src/pages/register-confirm.tsx
Due: root-install, web-install, web-lint

save
  services/hornex-api/apps/notifications/consumers_test.py
  services/hornex-api/apps/tournaments/migrations/0010_rename_custom_prize_is_money_alter_prize_amount.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/usecases/create_tournament.py
  services/hornex-api/apps/tournaments/usecases/create_tournament_test.py
  services/hornex-api/test/factories.py
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/pages/admin/tournaments/index.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

feat: tournament create use case
  services/hornex-api/apps/tournaments/usecases/create_tournament.py
  services/hornex-api/apps/tournaments/usecases/create_tournament_test.py
Due: api-install, api-lint, api-format

feat: i18n configured and added LangToggler component
  services/hornex-web/next-i18next.config.js
  services/hornex-web/next.config.js
  services/hornex-web/package.json
  services/hornex-web/public/locales/en/common.json
  services/hornex-web/public/locales/fr/common.json
  services/hornex-web/public/locales/pt/common.json
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/molecules/index.tsx
  services/hornex-web/src/components/ui/molecules/lang-toggler/index.tsx
  services/hornex-web/src/components/ui/molecules/lang-toggler/lang-toggler.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/index.tsx
  services/hornex-web/yarn.lock
Due: root-install, web-install, web-lint

feat: MVP-xxx | i18n configured and added LangToggler component (#116)
  services/hornex-web/next-i18next.config.js
  services/hornex-web/next.config.js
  services/hornex-web/package.json
  services/hornex-web/public/locales/en/common.json
  services/hornex-web/public/locales/fr/common.json
  services/hornex-web/public/locales/pt/common.json
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/molecules/index.tsx
  services/hornex-web/src/components/ui/molecules/lang-toggler/index.tsx
  services/hornex-web/src/components/ui/molecules/lang-toggler/lang-toggler.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/index.tsx
  services/hornex-web/yarn.lock
Due: root-install, web-install, web-lint

chore: save point 1
  services/hornex-web/src/pages/admin/tournaments/create.tsx
Due: root-install, web-install, web-lint

fix: fixed create tournament form
  services/hornex-web/src/pages/admin/tournaments/create.tsx
Due: root-install, web-install, web-lint

chore: added route to create a tournament on admin namspace
  services/hornex-api/apps/tournaments/admin/__init__.py
  services/hornex-api/apps/tournaments/admin/urls.py
  services/hornex-api/apps/tournaments/admin/views.py
  services/hornex-api/apps/tournaments/urls.py
Due: api-install, api-lint, api-format

chore: added route to create a tournament on admin namspace
  services/hornex-api/apps/tournaments/migrations/0010_rename_custom_prize_is_money_alter_prize_amount.py
  services/hornex-api/apps/tournaments/usecases/create_tournament.py
Due: api-install, api-lint, api-format

fix: fixed switch control
  services/hornex-web/src/pages/admin/tournaments/create.tsx
Due: root-install, web-install, web-lint

chore: added create_tournament to admin namespace
  services/hornex-api/apps/tournaments/admin/views.py
  services/hornex-api/apps/tournaments/usecases/admin/__init__.py
  services/hornex-api/apps/tournaments/usecases/admin/create_tournament.py
Due: api-install, api-lint, api-format

Organize tournament page (#115)
  services/hornex-api/apps/notifications/consumers_test.py
  services/hornex-api/apps/tournaments/admin/__init__.py
  services/hornex-api/apps/tournaments/admin/urls.py
  services/hornex-api/apps/tournaments/admin/views.py
  services/hornex-api/apps/tournaments/migrations/0008_tournament_is_prize_pool_fixed_prize.py
  services/hornex-api/apps/tournaments/migrations/0009_remove_tournament_is_prize_pool_fixed_and_more.py
  services/hornex-api/apps/tournaments/migrations/0010_rename_custom_prize_is_money_alter_prize_amount.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/urls.py
  services/hornex-api/apps/tournaments/usecases/admin/__init__.py
  services/hornex-api/apps/tournaments/usecases/admin/create_tournament.py
  services/hornex-api/apps/tournaments/usecases/create_tournament_test.py
  services/hornex-api/test/factories.py
  services/hornex-web/.dockerignore
  services/hornex-web/Dockerfile.bun
  services/hornex-web/bun.lockb
  services/hornex-web/package.json
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/calendar.tsx
  services/hornex-web/src/components/ui/checkbox.tsx
  services/hornex-web/src/components/ui/date-pick-range.tsx
  services/hornex-web/src/components/ui/date-picker.tsx
  services/hornex-web/src/components/ui/form.tsx
  services/hornex-web/src/components/ui/input-time.deprecated.tsx
  services/hornex-web/src/components/ui/input-time.tsx
  services/hornex-web/src/components/ui/input.tsx
  services/hornex-web/src/components/ui/label.tsx
  services/hornex-web/src/components/ui/popover.tsx
  services/hornex-web/src/components/ui/select.tsx
  services/hornex-web/src/components/ui/separator.tsx
  services/hornex-web/src/components/ui/switch.tsx
  services/hornex-web/src/components/ui/textarea.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/admin/tournaments/create.tsx
  services/hornex-web/src/pages/admin/tournaments/index.tsx
  services/hornex-web/src/pages/index.tsx
  services/hornex-web/src/styles/global.css
  services/hornex-web/tailwind.config.js
  services/hornex-web/yarn.lock
Due: root-install, web-install, web-lint, api-install, api-lint, api-format
