Repository hornexcode/hornex: changes, and which lefthook commands are due for each by the changed paths.
All: root-install, hornex-web, hornex-api

root-install:
  run: bun install

hornex-web:
  run: 'bun install
  
    bun lint
  
    '

hornex-api:
  run: 'poetry install --sync --no-root
  
    poetry run ruff check --fix .
  
    poetry run ruff format .
  
    '

chore: added trycatch block to rabbitmq connection
  services/hornex-api/core/settings.py
  services/hornex-api/lib/rabbitmq/apps.py
Due: hornex-api

chore: changed hostname of postgres
  .github/workflows/hornex-api.yaml
Due: none

chore: fixed all local vars
  .github/workflows/hornex-api.yaml
Due: none

chore: removed management tests
  services/hornex-api/apps/tournaments/management/tests.py
  services/hornex-api/pkg/grpc/match_pb2.py
  services/hornex-api/pkg/grpc/match_pb2_grpc.py
  services/hornex-api/pkg/grpc/tournament_pb2.py
  services/hornex-api/pkg/grpc/tournament_pb2_grpc.py
Due: hornex-api

chore: removed management tests
  services/hornex-api/pkg/grpc/match_pb2_grpc.py
  services/hornex-api/pkg/grpc/tournament_pb2_grpc.py
Due: hornex-api

feat: craeted cancel registration endpoint
  services/hornex-api/apps/tournaments/requests.py
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/urls.py
  services/hornex-api/apps/tournaments/usecases/__init__.py
  services/hornex-api/apps/tournaments/usecases/cancel_registration.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/test/factories.py
Due: hornex-api

feat: change tournament status to state
  services/hornex-api/apps/tournaments/admin.py
  services/hornex-api/apps/tournaments/migrations/0008_rename_status_tournament_state.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/usecases/organizer/end_tournament.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/bin/seed_database.py
  services/hornex-api/test/factories.py
Due: hornex-api

chore: made structlog silent
  docker-compose.yml
  services/hornex-api/apps/leagueoflegends/signals.py
  services/hornex-api/apps/leagueoflegends/views.py
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/usecases/organizer/end_tournament.py
  services/hornex-api/core/experiments.py
  services/hornex-api/core/settings.py
Due: hornex-api

chore: made structlog silent
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/pkg/grpc/match_pb2.py
  services/hornex-api/pkg/grpc/match_pb2_grpc.py
  services/hornex-api/pkg/grpc/tournament_pb2.py
  services/hornex-api/pyproject.toml
Due: hornex-api

chore: made structlog silent
  services/hornex-api/pyproject.toml
Due: hornex-api

checkpoint
  services/hornex-api/apps/leagueoflegends/management/commands/registertournamentprovider.py
  services/hornex-api/apps/leagueoflegends/migrations/0001_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0002_initial.py
  services/hornex-api/apps/leagueoflegends/models.py
  services/hornex-api/apps/tournaments/management/commands/checkinparticipants.py
  services/hornex-api/apps/tournaments/management/commands/registertournamentprovider.py
  services/hornex-api/core/settings.py
  services/hornex-api/lib/rabbitmq/__init__.py
  services/hornex-api/lib/rabbitmq/_publisher.py
Due: hornex-api

chore: removed init
  services/hornex-api/lib/rabbitmq/__init__.py
Due: hornex-api

chore: connect to rabbitmq only in prod
  services/hornex-api/lib/rabbitmq/apps.py
Due: hornex-api

chore: added lock
  services/hornex-api/poetry.lock
Due: hornex-api

chore: fixed typo on tournament import
  services/hornex-api/apps/payments/tests.py
Due: hornex-api

fix: Organizers showing all tournaments (#177)
  docker-compose.yml
  services/hornex-api/apps/leagueoflegends/management/commands/registertournamentprovider.py
  services/hornex-api/apps/leagueoflegends/migrations/0001_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0002_initial.py
  services/hornex-api/apps/leagueoflegends/models.py
  services/hornex-api/apps/leagueoflegends/signals.py
  services/hornex-api/apps/leagueoflegends/views.py
  services/hornex-api/apps/payments/tests.py
  services/hornex-api/apps/tournaments/management/commands/checkinparticipants.py
  services/hornex-api/apps/tournaments/management/commands/registertournamentprovider.py
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/usecases/organizer/end_tournament.py
  services/hornex-api/core/experiments.py
  services/hornex-api/core/settings.py
  services/hornex-api/lib/rabbitmq/_publisher.py
  services/hornex-api/lib/rabbitmq/apps.py
  services/hornex-api/pkg/grpc/match_pb2.py
  services/hornex-api/pkg/grpc/match_pb2_grpc.py
  services/hornex-api/pkg/grpc/tournament_pb2.py
  services/hornex-api/poetry.lock
  services/hornex-api/pyproject.toml
Due: hornex-api

chore: removed i18n
  services/hornex-web/src/pages/_app.tsx
Due: root-install, hornex-web

chore: removed i18n (#178)
  services/hornex-web/src/pages/_app.tsx
Due: root-install, hornex-web

feat: using next13 to handle sidebar and header
  services/hornex-web/src/app/(sidebar)/layout.tsx
  services/hornex-web/src/app/(sidebar)/tournaments/page.tsx
  services/hornex-web/src/components/v2/layouts/_menu-items.tsx
  services/hornex-web/src/components/v2/layouts/header.tsx
  services/hornex-web/src/components/v2/layouts/sidebar.tsx
  services/hornex-web/src/components/v2/menu-item/index.tsx
  services/hornex-web/src/components/v2/menu-item/menu-item.tsx
  services/hornex-web/src/components/v2/menu-item/menu-item.types.ts
  services/hornex-web/src/layouts/sidebar.tsx
Due: root-install, hornex-web

chore: swtiched compete page to next13 feature
  services/hornex-api/apps/tournaments/views.py
  services/hornex-web/src/app/(sidebar)/compete/loading.tsx
  services/hornex-web/src/app/(sidebar)/compete/page.tsx
  services/hornex-web/src/app/(sidebar)/tournaments/page.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/admin-tournament-details-tab-content.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/molecules/tournament-feed-item/tournament-feed-item.tsx
  services/hornex-web/src/components/ui/molecules/tournament-registration-state-progress/tournament-registration-state-progress.tsx
  services/hornex-web/src/components/ui/organisms/register-team-view/checkout-step.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-details-tab-panels.tsx
  services/hornex-web/src/components/ui/templates/tournament-checkout-template/tournament-checkout-template.tsx
  services/hornex-web/src/components/v2/layouts/_menu-items.tsx
  services/hornex-web/src/components/v2/layouts/header.tsx
  services/hornex-web/src/components/v2/layouts/sidebar.tsx
  services/hornex-web/src/components/v2/menu-item/menu-item.tsx
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/layouts/sidebar.tsx
  services/hornex-web/src/lib/models/Tournament.ts
  services/hornex-web/src/pages/compete.tsx
Due: root-install, hornex-web, hornex-api

fix: Remove multi language feature (#179)
  services/hornex-api/apps/tournaments/views.py
  services/hornex-web/src/app/(sidebar)/compete/loading.tsx
  services/hornex-web/src/app/(sidebar)/compete/page.tsx
  services/hornex-web/src/app/(sidebar)/layout.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/admin-tournament-details-tab-content.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/molecules/tournament-feed-item/tournament-feed-item.tsx
  services/hornex-web/src/components/ui/molecules/tournament-registration-state-progress/tournament-registration-state-progress.tsx
  services/hornex-web/src/components/ui/organisms/register-team-view/checkout-step.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-details-tab-panels.tsx
  services/hornex-web/src/components/ui/templates/tournament-checkout-template/tournament-checkout-template.tsx
  services/hornex-web/src/components/v2/layouts/_menu-items.tsx
  services/hornex-web/src/components/v2/layouts/header.tsx
  services/hornex-web/src/components/v2/layouts/sidebar.tsx
  services/hornex-web/src/components/v2/menu-item/index.tsx
  services/hornex-web/src/components/v2/menu-item/menu-item.tsx
  services/hornex-web/src/components/v2/menu-item/menu-item.types.ts
  services/hornex-web/src/layouts/sidebar.tsx
  services/hornex-web/src/lib/models/Tournament.ts
  services/hornex-web/src/pages/compete.tsx
Due: root-install, hornex-web, hornex-api

chore: add token to request and check for puuid
  services/hornex-api/apps/accounts/models.py
  services/hornex-api/apps/accounts/views.py
  services/hornex-api/apps/tournaments/usecases/organizer/start_match.py
  services/hornex-api/core/settings.py
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/admin-tournament-details-tab-content.tsx
  services/hornex-web/src/components/ui/molecules/select-team-tab/select-team-tab.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/pages/admin/tournaments/index.tsx
Due: root-install, hornex-web, hornex-api

test: fixed integrations tests for startmatch
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/usecases/organizer/start_match.py
  services/hornex-api/test/factories.py
Due: hornex-api

chore: add token to request and check for puuid (#180)
  services/hornex-api/apps/accounts/models.py
  services/hornex-api/apps/accounts/views.py
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/usecases/organizer/start_match.py
  services/hornex-api/core/settings.py
  services/hornex-api/test/factories.py
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/admin-tournament-details-tab-content.tsx
  services/hornex-web/src/components/ui/molecules/select-team-tab/select-team-tab.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/pages/admin/tournaments/index.tsx
Due: root-install, hornex-web, hornex-api

feat: user can disconnect their account
  services/hornex-api/apps/accounts/migrations/0004_alter_gameid_user.py
  services/hornex-api/apps/accounts/models.py
  services/hornex-api/apps/accounts/urls.py
  services/hornex-api/apps/accounts/views.py
  services/hornex-api/lib/riot/_tournament.py
  services/hornex-web/src/@types/TwitchEmbed.d.ts
  services/hornex-web/src/assets/css/globals.css
  services/hornex-web/src/components/profile/profile-menu-item.tsx
  services/hornex-web/src/components/ui/atoms/icons/twitch-extruded.tsx
  services/hornex-web/src/components/ui/molecules/connected-game-ids/connected-game-ids.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/templates/login-form/login-form.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/lib/request/api.ts
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/pages/registrations.tsx
Due: root-install, hornex-web, hornex-api

chore: removed some garbage
  services/hornex-api/apps/accounts/migrations/0004_alter_gameid_user.py
  services/hornex-api/apps/leagueoflegends/management/commands/registertournamentprovider.py
  services/hornex-api/apps/leagueoflegends/migrations/0001_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0002_initial.py
  services/hornex-api/apps/leagueoflegends/models.py
  services/hornex-api/apps/leagueoflegends/signals.py
  services/hornex-api/apps/leagueoflegends/views.py
  services/hornex-api/apps/teams/tests.py
  services/hornex-web/src/components/ui/templates/login-form/login-form.tsx
Due: root-install, hornex-web, hornex-api

chore: removed unused code and tests
  services/hornex-api/apps/tournaments/management/commands/checkinparticipants.py
  services/hornex-api/apps/tournaments/management/commands/registertournamentprovider.py
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/pages/_app.tsx
Due: root-install, hornex-web, hornex-api

feat: user can disconnect their account (#182)
  services/hornex-api/apps/accounts/migrations/0004_alter_gameid_user.py
  services/hornex-api/apps/accounts/models.py
  services/hornex-api/apps/accounts/urls.py
  services/hornex-api/apps/accounts/views.py
  services/hornex-api/apps/leagueoflegends/management/commands/registertournamentprovider.py
  services/hornex-api/apps/leagueoflegends/migrations/0001_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0002_initial.py
  services/hornex-api/apps/leagueoflegends/models.py
  services/hornex-api/apps/leagueoflegends/signals.py
  services/hornex-api/apps/leagueoflegends/views.py
  services/hornex-api/apps/teams/tests.py
  services/hornex-api/apps/tournaments/management/commands/checkinparticipants.py
  services/hornex-api/apps/tournaments/management/commands/registertournamentprovider.py
  services/hornex-api/lib/riot/_tournament.py
  services/hornex-web/src/@types/TwitchEmbed.d.ts
  services/hornex-web/src/assets/css/globals.css
  services/hornex-web/src/components/profile/profile-menu-item.tsx
  services/hornex-web/src/components/ui/atoms/icons/twitch-extruded.tsx
  services/hornex-web/src/components/ui/molecules/connected-game-ids/connected-game-ids.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/templates/login-form/login-form.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/lib/request/api.ts
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/pages/registrations.tsx
Due: root-install, hornex-web, hornex-api

release profile feature
  services/hornex-api/apps/accounts/migrations/0005_remove_profile_discord_link_and_more.py
  services/hornex-api/apps/accounts/migrations/0006_profile_discord_invite_code.py
  services/hornex-api/apps/accounts/models.py
  services/hornex-api/apps/accounts/serializers.py
  services/hornex-api/apps/accounts/urls.py
  services/hornex-api/apps/accounts/views.py
  services/hornex-web/bun.lockb
  services/hornex-web/package.json
  services/hornex-web/src/app/(sidebar)/admin/profile/page.tsx
  services/hornex-web/src/app/layout.tsx
  services/hornex-web/src/components/ui/breadcrumb.tsx
  services/hornex-web/src/components/ui/button.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-prizes-tab-content/tournament-details-prize-tab-content.tsx
  services/hornex-web/src/components/ui/organisms/tournament-tab-panels/tournament-tab-panels.tsx
  services/hornex-web/src/components/ui/sonner.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/components/v2/layouts/_menu-items.tsx
  services/hornex-web/src/components/v2/profile-form/index.tsx
  services/hornex-web/src/components/v2/profile-form/profile-form.tsx
  services/hornex-web/src/components/v2/profile-form/profile-form.types.ts
  services/hornex-web/src/layouts/sidebar.tsx
  services/hornex-web/src/lib/models/Profile.ts
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/tailwind.config.js
Due: root-install, hornex-web, hornex-api

removed profile tests
  services/hornex-api/apps/accounts/migrations/0005_remove_profile_discord_link_and_more.py
  services/hornex-api/apps/accounts/migrations/0006_profile_discord_invite_code.py
  services/hornex-api/apps/accounts/tests.py
  services/hornex-web/bun.lockb
Due: hornex-web, hornex-api

feat: Profiling (#183)
  services/hornex-api/apps/accounts/migrations/0005_remove_profile_discord_link_and_more.py
  services/hornex-api/apps/accounts/migrations/0006_profile_discord_invite_code.py
  services/hornex-api/apps/accounts/models.py
  services/hornex-api/apps/accounts/serializers.py
  services/hornex-api/apps/accounts/urls.py
  services/hornex-api/apps/accounts/views.py
  services/hornex-web/bun.lockb
  services/hornex-web/package.json
  services/hornex-web/src/app/(sidebar)/admin/profile/page.tsx
  services/hornex-web/src/app/layout.tsx
  services/hornex-web/src/components/ui/breadcrumb.tsx
  services/hornex-web/src/components/ui/button.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-prizes-tab-content/tournament-details-prize-tab-content.tsx
  services/hornex-web/src/components/ui/organisms/tournament-tab-panels/tournament-tab-panels.tsx
  services/hornex-web/src/components/ui/sonner.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/components/v2/layouts/_menu-items.tsx
  services/hornex-web/src/components/v2/profile-form/index.tsx
  services/hornex-web/src/components/v2/profile-form/profile-form.tsx
  services/hornex-web/src/components/v2/profile-form/profile-form.types.ts
  services/hornex-web/src/layouts/sidebar.tsx
  services/hornex-web/src/lib/models/Profile.ts
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/tailwind.config.js
Due: root-install, hornex-web, hornex-api

hotfix: removed i18n config from web service
  services/hornex-web/next.config.js
  services/hornex-web/ni18n.config.ts
Due: root-install, hornex-web

hotfix: removed i18n config from web service (#184)
  services/hornex-web/next.config.js
  services/hornex-web/ni18n.config.ts
Due: root-install, hornex-web

fix: profile form state
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/components/v2/profile-form/profile-form.tsx
  services/hornex-web/src/lib/models/Profile.ts
  services/hornex-web/src/pages/registrations.tsx
Due: root-install, hornex-web

fix: profile form state (#185)
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/components/v2/profile-form/profile-form.tsx
  services/hornex-web/src/lib/models/Profile.ts
  services/hornex-web/src/pages/registrations.tsx
Due: root-install, hornex-web

chore: general improvements
  services/hornex-api/apps/tournaments/usecases/organizer/start_match.py
  services/hornex-web/public/robot.txt
  services/hornex-web/public/vercel.svg
  services/hornex-web/src/app/(sidebar)/compete/page.tsx
  services/hornex-web/src/app/page.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-match/admin-tournament-match.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-team-row/admin-tournament-team-row.tsx
  services/hornex-web/src/components/modal-views/container.tsx
  services/hornex-web/src/components/modal-views/context.tsx
  services/hornex-web/src/components/profile/profile-menu-item.tsx
  services/hornex-web/src/components/ui/atoms/register-button.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-prizes-tab-content/tournament-details-prize-tab-content.tsx
  services/hornex-web/src/components/ui/organisms/login-view/index.tsx
  services/hornex-web/src/components/ui/organisms/login-view/login-view.tsx
  services/hornex-web/src/components/ui/sonner.tsx
  services/hornex-web/src/components/v2/layouts/_menu-items.tsx
  services/hornex-web/src/components/v2/profile-form/profile-form.tsx
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/layouts/sidebar.tsx
  services/hornex-web/src/pages/[platform]/[game]/tournaments/[id]/index.tsx
Due: root-install, hornex-web, hornex-api

chore: general improvements (#186)
  services/hornex-api/apps/tournaments/usecases/organizer/start_match.py
  services/hornex-web/public/robot.txt
  services/hornex-web/public/vercel.svg
  services/hornex-web/src/app/(sidebar)/compete/page.tsx
  services/hornex-web/src/app/page.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-match/admin-tournament-match.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-team-row/admin-tournament-team-row.tsx
  services/hornex-web/src/components/modal-views/container.tsx
  services/hornex-web/src/components/modal-views/context.tsx
  services/hornex-web/src/components/profile/profile-menu-item.tsx
  services/hornex-web/src/components/ui/atoms/register-button.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-prizes-tab-content/tournament-details-prize-tab-content.tsx
  services/hornex-web/src/components/ui/organisms/login-view/index.tsx
  services/hornex-web/src/components/ui/organisms/login-view/login-view.tsx
  services/hornex-web/src/components/ui/sonner.tsx
  services/hornex-web/src/components/v2/layouts/_menu-items.tsx
  services/hornex-web/src/components/v2/profile-form/profile-form.tsx
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/layouts/sidebar.tsx
  services/hornex-web/src/pages/[platform]/[game]/tournaments/[id]/index.tsx
Due: root-install, hornex-web, hornex-api

Path conditions:
  root-install: any of: **/*.{ts,js,tsx,jsx}
  hornex-web: any of: services/hornex-web/** and ^services/hornex\-web/
  hornex-api: any of: services/hornex-api/** and ^services/hornex\-api/
