Repository hornexcode/hornex: changes, and which lefthook commands are due for each by the changed paths.
All: root-install, web-install, web-lint, api-install, api-lint, api-format

lefthook.yaml:

# https://github.com/evilmartians/lefthook

assert_lefthook_installed: true

pre-commit:
  follow: true

  commands:
    root-install:
      run: yarn install
      glob: "**/*.{ts,js,tsx,jsx}"

    web-install:
      glob: "services/hornex-web/**"
      run: yarn install
      root: services/hornex-web
    web-lint:
      glob: "services/hornex-web/**"
      run: yarn lint
      root: services/hornex-web

    api-install:
      glob: "services/hornex-api/**"
      run: poetry install --no-root
      root: services/hornex-api
    api-lint:
      glob: "services/hornex-api/**"
      run: poetry run ruff check --fix .
      root: services/hornex-api
    api-format:
      glob: "services/hornex-api/**"
      run: poetry run ruff format .
      root: services/hornex-api

feat: added signup page
  services/hornex-api/apps/accounts/models.py
  services/hornex-api/apps/users/serializers.py
  services/hornex-api/apps/users/urls.py
  services/hornex-web/bun.lockb
  services/hornex-web/src/components/ui/input.tsx
  services/hornex-web/src/components/ui/select.tsx
  services/hornex-web/src/components/ui/textarea.tsx
  services/hornex-web/src/components/ui/toaster.tsx
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/admin/tournaments/create.tsx
  services/hornex-web/src/pages/register.tsx
  services/hornex-web/src/pages/sign-in.tsx
  services/hornex-web/src/pages/sign-up.tsx
  services/hornex-web/tailwind.config.js
  services/hornex-web/yarn.lock
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

test: updated feat tests for users
  services/hornex-api/apps/users/tests.py
Due: api-install, api-lint, api-format

feat: sign up (#117)
  services/hornex-api/apps/accounts/models.py
  services/hornex-api/apps/users/serializers.py
  services/hornex-api/apps/users/tests.py
  services/hornex-api/apps/users/urls.py
  services/hornex-web/bun.lockb
  services/hornex-web/src/components/ui/input.tsx
  services/hornex-web/src/components/ui/select.tsx
  services/hornex-web/src/components/ui/textarea.tsx
  services/hornex-web/src/components/ui/toaster.tsx
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/admin/tournaments/create.tsx
  services/hornex-web/src/pages/register.tsx
  services/hornex-web/src/pages/sign-in.tsx
  services/hornex-web/src/pages/sign-up.tsx
  services/hornex-web/tailwind.config.js
  services/hornex-web/yarn.lock
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: fixed internationalization
  services/hornex-web/next-i18next.config.js
  services/hornex-web/next.config.js
  services/hornex-web/ni18n.config.ts
  services/hornex-web/package.json
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/molecules/lang-toggler/lang-toggler.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/index.tsx
  services/hornex-web/yarn.lock
Due: root-install, web-install, web-lint

chore: fixed internationalization (#118)
  services/hornex-web/next-i18next.config.js
  services/hornex-web/next.config.js
  services/hornex-web/ni18n.config.ts
  services/hornex-web/package.json
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/molecules/lang-toggler/lang-toggler.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/index.tsx
  services/hornex-web/yarn.lock
Due: root-install, web-install, web-lint

chore: setup storybook
  services/hornex-web/.storybook/main.ts
  services/hornex-web/.storybook/preview.ts
  services/hornex-web/package.json
  services/hornex-web/src/components/admin/organisms/tournament-create-form/index.tsx
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.schema.ts
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.tsx
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-handlers.ts
  services/hornex-web/src/components/ui/atoms/button/button.stories.tsx
  services/hornex-web/src/pages/admin/tournaments/create.tsx
  services/hornex-web/src/stories/Button.stories.ts
  services/hornex-web/src/stories/Button.tsx
  services/hornex-web/src/stories/Configure.mdx
  services/hornex-web/src/stories/Header.stories.ts
  services/hornex-web/src/stories/Header.tsx
  services/hornex-web/src/stories/Page.stories.ts
  services/hornex-web/src/stories/Page.tsx
  services/hornex-web/src/stories/assets/accessibility.png
  services/hornex-web/src/stories/assets/accessibility.svg
  services/hornex-web/src/stories/assets/addon-library.png
  services/hornex-web/src/stories/assets/assets.png
  services/hornex-web/src/stories/assets/avif-test-image.avif
  services/hornex-web/src/stories/assets/context.png
  services/hornex-web/src/stories/assets/discord.svg
  services/hornex-web/src/stories/assets/docs.png
  services/hornex-web/src/stories/assets/figma-plugin.png
  services/hornex-web/src/stories/assets/github.svg
  services/hornex-web/src/stories/assets/share.png
  services/hornex-web/src/stories/assets/styling.png
  services/hornex-web/src/stories/assets/testing.png
  services/hornex-web/src/stories/assets/theming.png
  services/hornex-web/src/stories/assets/tutorials.svg
  services/hornex-web/src/stories/assets/youtube.svg
  services/hornex-web/src/stories/button.css
  services/hornex-web/src/stories/header.css
  services/hornex-web/src/stories/page.css
  services/hornex-web/yarn.lock
Due: root-install, web-install, web-lint

chore: removed yarn test from package json
  services/hornex-web/package.json
Due: web-install, web-lint

feat: added tournament list table
  services/hornex-web/src/components/admin/molecules/tournament-table-row/index.tsx
  services/hornex-web/src/components/admin/molecules/tournament-table-row/tournament-table-row.tsx
  services/hornex-web/src/components/admin/molecules/tournament-table-row/tournament-table-row.types.ts
  services/hornex-web/src/components/admin/organisms/tournament-list-table/index.tsx
  services/hornex-web/src/components/admin/organisms/tournament-list-table/tournament-list-table.tsx
  services/hornex-web/src/components/admin/organisms/tournament-list-table/tournament-list-table.types.ts
  services/hornex-web/src/pages/admin/tournaments/index.tsx
  services/hornex-web/src/pages/thank-you.tsx
Due: root-install, web-install, web-lint

chore: disabled yarn test temporary
  .github/workflows/hornex-web.yaml
  services/hornex-api/core/settings.py
Due: api-install, api-lint, api-format

feat(hornex-web): improved tournament create form hook design token
  bun.lockb
  docker-compose.yml
  services/hornex-web/Dockerfile
  services/hornex-web/Dockerfile.bun
  services/hornex-web/Dockerfile.yarn
  services/hornex-web/bun.lockb
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.schema.ts
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.tsx
  services/hornex-web/src/components/ui/checkbox.tsx
  services/hornex-web/src/components/ui/date-picker.tsx
  services/hornex-web/src/components/ui/input-time.tsx
  services/hornex-web/src/components/ui/switch.tsx
Due: root-install, web-install, web-lint

feat(hornex-web): improved tournament create form hook design token (#120)
  bun.lockb
  docker-compose.yml
  services/hornex-web/Dockerfile
  services/hornex-web/Dockerfile.bun
  services/hornex-web/Dockerfile.yarn
  services/hornex-web/bun.lockb
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.schema.ts
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.tsx
  services/hornex-web/src/components/ui/checkbox.tsx
  services/hornex-web/src/components/ui/date-picker.tsx
  services/hornex-web/src/components/ui/input-time.tsx
  services/hornex-web/src/components/ui/switch.tsx
Due: root-install, web-install, web-lint

chore: initial setup
  services/hornex-api/apps/accounts/migrations/0001_initial.py
  services/hornex-api/apps/accounts/migrations/0002_initial.py
  services/hornex-api/apps/accounts/migrations/0003_gameid_alter_leagueoflegendssummoner_game_id.py
  services/hornex-api/apps/games/migrations/0001_initial.py
  services/hornex-api/apps/games/migrations/0002_initial.py
  services/hornex-api/apps/leagueoflegends/admin.py
  services/hornex-api/apps/leagueoflegends/migrations/0001_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0002_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0003_alter_session_game_id_alter_summoner_game_id.py
  services/hornex-api/apps/notifications/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0002_initial.py
  services/hornex-api/apps/platforms/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0002_initial.py
  services/hornex-api/apps/tournaments/admin/views.py
  services/hornex-api/apps/tournaments/migrations/0001_initial.py
  services/hornex-api/apps/tournaments/migrations/0002_initial.py
  services/hornex-api/apps/tournaments/migrations/0003_rename_is_classification_open_tournament_open_classification_and_more.py
  services/hornex-api/apps/tournaments/migrations/0004_remove_leagueoflegendstournament_riot_id.py
  services/hornex-api/apps/tournaments/migrations/0005_rename_leagueoflegendsello_leagueoflegendsleague_and_more.py
  services/hornex-api/apps/tournaments/migrations/0006_remove_leagueoflegendsleague_queue_type.py
  services/hornex-api/apps/tournaments/migrations/0007_rename_allowed_ellos_leagueoflegendstournament_classifications.py
  services/hornex-api/apps/tournaments/migrations/0008_tournament_is_prize_pool_fixed_prize.py
  services/hornex-api/apps/tournaments/migrations/0009_remove_tournament_is_prize_pool_fixed_and_more.py
  services/hornex-api/apps/tournaments/migrations/0010_rename_custom_prize_is_money_alter_prize_amount.py
  services/hornex-api/apps/tournaments/organizer/__init__.py
  services/hornex-api/apps/tournaments/organizer/urls.py
  services/hornex-api/apps/tournaments/organizer/views.py
  services/hornex-api/apps/tournaments/urls.py
  services/hornex-api/apps/tournaments/usecases/organizer/__init__.py
  services/hornex-api/apps/tournaments/usecases/organizer/create_tournament.py
  services/hornex-api/apps/tournaments/usecases/organizer/create_tournament_test.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/apps/users/migrations/0001_initial.py
  services/hornex-web/src/components/ui/sheet.tsx
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/admin/tournaments/index.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

feat: added tournament list do admin dashboard
  services/hornex-web/src/components/admin/molecules/tournament-table-row/tournament-table-row.tsx
  services/hornex-web/src/pages/admin/tournaments/index.tsx
Due: root-install, web-install, web-lint

fix: lint errors
  services/hornex-api/apps/accounts/migrations/0001_initial.py
  services/hornex-api/apps/games/migrations/0001_initial.py
  services/hornex-api/apps/leagueoflegends/admin.py
  services/hornex-api/apps/notifications/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0001_initial.py
  services/hornex-api/apps/platforms/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0001_initial.py
  services/hornex-api/apps/tournaments/migrations/0001_initial.py
  services/hornex-api/apps/users/migrations/0001_initial.py
  services/hornex-web/src/components/admin/molecules/tournament-table-row/tournament-table-row.tsx
  services/hornex-web/src/pages/admin/tournaments/index.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: dynamic tournament teams count
  services/hornex-web/src/components/admin/molecules/tournament-table-row/tournament-table-row.tsx
  services/hornex-web/src/pages/admin/tournaments/index.tsx
Due: root-install, web-install, web-lint

chore: minor adjustments
  services/hornex-api/apps/leagueoflegends/serializers.py
  services/hornex-api/apps/tournaments/dashboard/__init__.py
  services/hornex-api/apps/tournaments/dashboard/urls.py
  services/hornex-api/apps/tournaments/dashboard/views.py
  services/hornex-api/apps/tournaments/urls.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/jwt_token/authentication.py
  services/hornex-web/src/components/admin/molecules/tournament-table-row/tournament-table-row.tsx
  services/hornex-web/src/components/admin/organisms/tournament-list-table/index.tsx
  services/hornex-web/src/components/admin/organisms/tournament-list-table/tournament-list-table.tsx
  services/hornex-web/src/components/admin/organisms/tournament-table/index.tsx
  services/hornex-web/src/components/admin/organisms/tournament-table/tournament-table.tsx
  services/hornex-web/src/components/admin/organisms/tournament-table/tournament-table.types.ts
  services/hornex-web/src/pages/admin/tournaments/index.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: minor adjustments
  services/hornex-api/apps/accounts/migrations/0001_initial.py
  services/hornex-api/apps/accounts/migrations/0002_initial.py
  services/hornex-api/apps/games/migrations/0001_initial.py
  services/hornex-api/apps/games/migrations/0002_initial.py
  services/hornex-api/apps/leagueoflegends/admin.py
  services/hornex-api/apps/leagueoflegends/migrations/0001_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0002_initial.py
  services/hornex-api/apps/notifications/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0002_initial.py
  services/hornex-api/apps/platforms/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0002_initial.py
  services/hornex-api/apps/tournaments/migrations/0001_initial.py
  services/hornex-api/apps/tournaments/migrations/0002_initial.py
  services/hornex-api/apps/users/migrations/0001_initial.py
Due: api-install, api-lint, api-format

feat: added start date to tournament list
  services/hornex-api/apps/users/migrations/0001_initial.py
  services/hornex-web/src/components/admin/molecules/tournament-table-row/tournament-table-row.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

feat: connect create tournament form with api endpoint
  services/hornex-api/apps/tournaments/usecases/organizer/create_tournament.py
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.tsx
  services/hornex-web/src/lib/request/routes.ts
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: initial setup
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/molecules/tournament-feed-item/tournament-feed-item.tsx
  services/hornex-web/src/components/ui/molecules/tournament-feed-item/tournament-feed-item.types.ts
  services/hornex-web/src/components/ui/templates/tournaments-feed-template/tournaments-feed-template.tsx
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/layouts/tournament/index.tsx
  services/hornex-web/src/layouts/tournament/layout.tsx
  services/hornex-web/src/layouts/tournament/sidebar.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id].tsx
Due: root-install, web-install, web-lint

save point
  services/hornex-api/apps/tournaments/usecases/organizer/create_tournament.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.schema.ts
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

feat: added MoneyInput component
  services/hornex-api/apps/tournaments/usecases/organizer/create_tournament.py
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.schema.ts
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.tsx
  services/hornex-web/src/components/ui/input-money.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: all fields integrated with be
  services/hornex-api/apps/tournaments/admin.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/usecases/organizer/create_tournament.py
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.schema.ts
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.tsx
  services/hornex-web/src/components/ui/input-money.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

test: adapted tests and added new ones for create tournament use case
  services/hornex-api/apps/tournaments/usecases/organizer/create_tournament.py
  services/hornex-api/apps/tournaments/usecases/organizer/create_tournament_test.py
  services/hornex-api/apps/users/migrations/0002_alter_user_groups.py
Due: api-install, api-lint, api-format

fix: lint errors
  services/hornex-api/apps/users/migrations/0002_alter_user_groups.py
Due: api-install, api-lint, api-format

feat: only logged in users can access admin tournaments pages
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/config/routes.ts
  services/hornex-web/src/pages/admin/tournaments/index.tsx
Due: root-install, web-install, web-lint

minor adjustments
  services/hornex-web/src/pages/admin/tournaments/index.tsx
  services/hornex-web/src/pages/api/auth/[...nextauth].ts
Due: root-install, web-install, web-lint

feat: MVP-72 | Tournament list/create pages visible only for logged users (#123)
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/config/routes.ts
  services/hornex-web/src/pages/admin/tournaments/index.tsx
  services/hornex-web/src/pages/api/auth/[...nextauth].ts
Due: root-install, web-install, web-lint

feat: MVP-74 | Link tournament-create-form component with our BE to create a new tournament (#122)
  services/hornex-api/apps/tournaments/admin.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/usecases/organizer/create_tournament.py
  services/hornex-api/apps/tournaments/usecases/organizer/create_tournament_test.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/apps/users/migrations/0002_alter_user_groups.py
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.schema.ts
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.tsx
  services/hornex-web/src/components/ui/input-money.tsx
  services/hornex-web/src/lib/request/routes.ts
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: initial setup
  services/hornex-api/apps/accounts/migrations/0001_initial.py
  services/hornex-api/apps/games/migrations/0001_initial.py
  services/hornex-api/apps/games/migrations/0002_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0001_initial.py
  services/hornex-api/apps/notifications/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0002_initial.py
  services/hornex-api/apps/platforms/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0002_initial.py
  services/hornex-api/apps/tournaments/migrations/0001_initial.py
  services/hornex-api/apps/tournaments/migrations/0002_initial.py
  services/hornex-api/apps/tournaments/organizer/__init__.py
  services/hornex-api/apps/tournaments/organizer/urls.py
  services/hornex-api/apps/tournaments/organizer/views.py
  services/hornex-web/src/pages/admin/tournaments/index.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

feat: added tournament list do admin dashboard
  services/hornex-web/src/components/admin/molecules/tournament-table-row/tournament-table-row.tsx
Due: root-install, web-install, web-lint

fix: lint errors
  services/hornex-api/apps/games/migrations/0001_initial.py
  services/hornex-api/apps/notifications/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0001_initial.py
  services/hornex-api/apps/platforms/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0001_initial.py
Due: api-install, api-lint, api-format

chore: minor adjustments
  services/hornex-api/apps/tournaments/dashboard/urls.py
  services/hornex-api/apps/tournaments/organizer/__init__.py
  services/hornex-api/apps/tournaments/organizer/urls.py
  services/hornex-api/apps/tournaments/organizer/views.py
Due: api-install, api-lint, api-format

chore: added content information for tournament dashboard page
  services/hornex-web/src/layouts/tournament/sidebar.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id].tsx
Due: root-install, web-install, web-lint

chore: minor adjustments
  services/hornex-api/apps/games/migrations/0001_initial.py
  services/hornex-api/apps/games/migrations/0002_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0001_initial.py
  services/hornex-api/apps/notifications/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0002_initial.py
  services/hornex-api/apps/platforms/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0002_initial.py
Due: api-install, api-lint, api-format

chore: added config app && and users can open registration before date
  services/hornex-api/apps/accounts/migrations/0003_termsandconditionsagreement.py
  services/hornex-api/apps/configs/__init__.py
  services/hornex-api/apps/configs/admin.py
  services/hornex-api/apps/configs/apps.py
  services/hornex-api/apps/configs/migrations/0001_initial.py
  services/hornex-api/apps/configs/migrations/__init__.py
  services/hornex-api/apps/configs/models.py
  services/hornex-api/apps/configs/serializers.py
  services/hornex-api/apps/configs/tests.py
  services/hornex-api/apps/configs/urls.py
  services/hornex-api/apps/configs/views.py
  services/hornex-api/apps/leagueoflegends/admin.py
  services/hornex-api/apps/tournaments/migrations/0003_tournament_currency_alter_tournament_phase.py
  services/hornex-api/apps/tournaments/migrations/0004_rename_phase_tournament_status.py
  services/hornex-api/apps/tournaments/migrations/0005_alter_tournament_status.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/serializers.py
  services/hornex-api/apps/tournaments/test_models.py
  services/hornex-api/apps/tournaments/urls.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/core/settings.py
  services/hornex-api/core/urls.py
  services/hornex-api/test/factories.py
  services/hornex-web/src/components/admin/molecules/tournament-status-stepper/index.tsx
  services/hornex-web/src/components/admin/molecules/tournament-status-stepper/tournament-status-stepper.tsx
  services/hornex-web/src/components/admin/molecules/tournament-status-stepper/tournament-status-stepper.types.ts
  services/hornex-web/src/components/admin/molecules/tournament-table-row/tournament-table-row.tsx
  services/hornex-web/src/components/ui/atoms/button/button.tsx
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/molecules/tournament-feed-item/tournament-feed-item.tsx
  services/hornex-web/src/components/ui/organisms/register-team-view/select-team-step.tsx
  services/hornex-web/src/contexts/config.tsx
  services/hornex-web/src/layouts/tournament/sidebar.tsx
  services/hornex-web/src/lib/models/Tournament.ts
  services/hornex-web/src/lib/request/api.ts
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id].tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/admin-tournament-details.handlers.tsx
  services/hornex-web/src/styles/global.css
  services/hornex-web/tailwind.config.js
Due: root-install, web-install, web-lint, api-install, api-lint, api-format
