Repository hornexcode/hornex: changes, and which lefthook commands are due for each by the changed paths.
All: root-install, hornex-web, hornex-api

lefthook.yaml:

# https://github.com/evilmartians/lefthook

assert_lefthook_installed: true

pre-commit:
  follow: true

  commands:
    root-install:
      glob: "**/*.{ts,js,tsx,jsx}"
      run: bun install

    hornex-web:
      glob: "services/hornex-web/**"
      root: services/hornex-web
      run: |
        bun install
        bun lint

    hornex-api:
      glob: "services/hornex-api/**"
      root: services/hornex-api
      run: |
        poetry install --sync --no-root
        poetry run ruff check --fix .
        poetry run ruff format .

log cookie
  services/hornex-api/core/settings.py
  services/hornex-api/jwt_token/authentication.py
Due: hornex-api

chore: remove prefix api from cookie domain
  services/hornex-api/core/settings.py
Due: hornex-api

chore: removed 1 param from set cookie
  services/hornex-api/jwt_token/authentication.py
  services/hornex-api/jwt_token/views.py
Due: hornex-api

chore: added same site lax
  services/hornex-api/jwt_token/views.py
Due: hornex-api

chore: httponly false and samesite None
  services/hornex-api/jwt_token/views.py
Due: hornex-api

chore: same site strict
  services/hornex-api/jwt_token/views.py
Due: hornex-api

chore: set cookie on client side
  services/hornex-web/src/lib/auth/utils.ts
  services/hornex-web/src/lib/request/api.ts
  services/hornex-web/src/pages/api/auth/[...nextauth].ts
  services/hornex-web/src/pages/signin.tsx
Due: root-install, hornex-web

Crossorigin cookies (#163)
  services/hornex-api/core/settings.py
  services/hornex-api/jwt_token/authentication.py
  services/hornex-api/jwt_token/views.py
  services/hornex-web/src/lib/auth/utils.ts
  services/hornex-web/src/lib/request/api.ts
  services/hornex-web/src/pages/api/auth/[...nextauth].ts
  services/hornex-web/src/pages/signin.tsx
Due: root-install, hornex-web, hornex-api

chore: added bearer token to submit func
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.tsx
  services/hornex-web/src/lib/request/api.ts
Due: root-install, hornex-web

chore: added bearer token to submit func (#164)
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.tsx
  services/hornex-web/src/lib/request/api.ts
Due: root-install, hornex-web

chore: added token case exists into headers
  services/hornex-web/src/lib/request/api.ts
Due: root-install, hornex-web

chore: added token case exists into headers (#165)
  services/hornex-web/src/lib/request/api.ts
Due: root-install, hornex-web

fix: change viewset to show tournament detail page
  services/hornex-api/apps/tournaments/urls.py
  services/hornex-api/apps/tournaments/usecases/organizer/end_match.py
Due: hornex-api

chore: change publicviewset to not list but to retrieve ended tournaments
  services/hornex-api/apps/tournaments/urls.py
  services/hornex-api/apps/tournaments/views.py
Due: hornex-api

chore: removed bun lock file
  services/hornex-web/bun.lockb
Due: hornex-web

fix: MVP-90 | Ended tournament details not appearing for registered users (#154)
  services/hornex-api/apps/tournaments/usecases/organizer/end_match.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-web/bun.lockb
Due: hornex-web, hornex-api

chore: added feedback registrations
  services/hornex-web/src/app/api/auth/[...nextauth]/options.ts
  services/hornex-web/src/app/login/actions.ts
  services/hornex-web/src/app/login/page.tsx
  services/hornex-web/src/app/page.tsx
  services/hornex-web/src/components/profile/profile-menu-item.tsx
  services/hornex-web/src/components/ui/atoms/expired-login-button.tsx
  services/hornex-web/src/components/ui/templates/login-form/index.tsx
  services/hornex-web/src/components/ui/templates/login-form/login-form.tsx
  services/hornex-web/src/config/routes.ts
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/layouts/sidebar.tsx
  services/hornex-web/src/pages/registrations.tsx
  services/hornex-web/src/pages/signup.tsx
Due: root-install, hornex-web

chore: added feedback ui for loading registrations (#166)
  services/hornex-web/src/app/api/auth/[...nextauth]/options.ts
  services/hornex-web/src/app/login/actions.ts
  services/hornex-web/src/app/login/page.tsx
  services/hornex-web/src/app/page.tsx
  services/hornex-web/src/components/profile/profile-menu-item.tsx
  services/hornex-web/src/components/ui/atoms/expired-login-button.tsx
  services/hornex-web/src/components/ui/templates/login-form/index.tsx
  services/hornex-web/src/components/ui/templates/login-form/login-form.tsx
  services/hornex-web/src/config/routes.ts
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/layouts/sidebar.tsx
  services/hornex-web/src/pages/registrations.tsx
  services/hornex-web/src/pages/signup.tsx
Due: root-install, hornex-web

chore: setup rabbitmq publisher
  services/hornex-api/apps/tournaments/publisher.py
  services/hornex-api/core/settings.py
  services/hornex-api/lib/rabbitmq/__init__.py
  services/hornex-api/lib/rabbitmq/_publisher.py
  services/hornex-api/poetry.lock
  services/hornex-api/pyproject.toml
  services/hornex-api/wait_for_rabbitmq.py
Due: hornex-api

chore: removed hornex-admin app
  services/hornex-admin/.eslintrc.json
  services/hornex-admin/.gitignore
  services/hornex-admin/Dockerfile
  services/hornex-admin/README.md
  services/hornex-admin/components.json
  services/hornex-admin/next.config.js
  services/hornex-admin/package-lock.json
  services/hornex-admin/package.json
  services/hornex-admin/postcss.config.js
  services/hornex-admin/public/next.svg
  services/hornex-admin/public/vercel.svg
  services/hornex-admin/src/app/favicon.ico
  services/hornex-admin/src/app/globals.css
  services/hornex-admin/src/app/layout.tsx
  services/hornex-admin/src/app/page.tsx
  services/hornex-admin/src/app/tournaments/[id]/page.tsx
  services/hornex-admin/src/app/tournaments/columns.tsx
  services/hornex-admin/src/app/tournaments/data-table.tsx
  services/hornex-admin/src/app/tournaments/page.tsx
  services/hornex-admin/src/app/utils/token.tsx
  services/hornex-admin/src/components/system-design/page-header/index.tsx
  services/hornex-admin/src/components/system-design/page-header/page-header.tsx
  services/hornex-admin/src/components/ui/badge.tsx
  services/hornex-admin/src/components/ui/button.tsx
  services/hornex-admin/src/components/ui/dropdown-menu.tsx
  services/hornex-admin/src/components/ui/input.tsx
  services/hornex-admin/src/components/ui/table.tsx
  services/hornex-admin/src/lib/utils.ts
  services/hornex-admin/tailwind.config.js
  services/hornex-admin/tailwind.config.ts
  services/hornex-admin/tsconfig.json
  services/hornex-admin/yarn.lock
Due: root-install

chore: controlling connect account state button
  services/hornex-api/apps/accounts/urls.py
  services/hornex-api/apps/accounts/views.py
  services/hornex-web/src/components/ui/atoms/list-box.tsx
  services/hornex-web/src/components/ui/molecules/connected-game-ids/connected-game-ids.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/organisms/connect-account-view/connect-account-view.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/lib/models/Account.ts
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/admin/tournaments/index.tsx
Due: root-install, hornex-web, hornex-api

chore: controlling connect account state button (#167)
  services/hornex-api/apps/accounts/urls.py
  services/hornex-api/apps/accounts/views.py
  services/hornex-web/src/components/ui/atoms/list-box.tsx
  services/hornex-web/src/components/ui/molecules/connected-game-ids/connected-game-ids.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/organisms/connect-account-view/connect-account-view.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/lib/models/Account.ts
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/admin/tournaments/index.tsx
Due: root-install, hornex-web, hornex-api

chore: switch habbit message to utf-8 json
  go.work
  go.work.sum
  lib/golang/src/go.mod
  lib/golang/src/go.sum
  lib/golang/src/hornex/envvar/envvar.go
  lib/golang/src/hornex/resend/client.go
  services/hornex-api/apps/tournaments/publisher.py
  services/hornex-api/lib/rabbitmq/__init__.py
  services/hornex-api/lib/rabbitmq/_publisher.py
  services/hornex-consumer/cmd/resend-mailer-rabbitmq/dev.env
  services/hornex-consumer/cmd/resend-mailer-rabbitmq/main.go
  services/hornex-consumer/go.mod
  services/hornex-consumer/go.sum
  services/hornex-consumer/internal/entities.go
  services/hornex-consumer/internal/resend/match.go
  services/hornex-queue-consumer/cmd/internal/rabbitmq.go
  services/hornex-queue-consumer/go.mod
  services/hornex-queue-consumer/internal/service/tournament.go
  services/hornex-web/bun.lockb
  services/hornex-web/src/components/profile/profile-menu-item.tsx
Due: root-install, hornex-web, hornex-api

chore: finished grpc saga setup
  devops/scripts/gen-proto
  docker-compose.yml
  lefthook.yaml
  services/hornex-api/apps/accounts/views.py
  services/hornex-api/apps/configs/views.py
  services/hornex-api/apps/games/views.py
  services/hornex-api/apps/leagueoflegends/views.py
  services/hornex-api/apps/notifications/views.py
  services/hornex-api/apps/payments/views.py
  services/hornex-api/apps/teams/views.py
  services/hornex-api/apps/tournaments/channels/__init__.py
  services/hornex-api/apps/tournaments/events.py
  services/hornex-api/apps/tournaments/grpc/__init__.py
  services/hornex-api/apps/tournaments/grpc/v1/__init__.py
  services/hornex-api/apps/tournaments/grpc/v1/match/__init__.py
  services/hornex-api/apps/tournaments/grpc/v1/match/match_pb2.py
  services/hornex-api/apps/tournaments/grpc/v1/match/match_service.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/apps/users/views.py
  services/hornex-api/core/urls.py
  services/hornex-api/jwt/__init__.py
  services/hornex-api/jwt/authentication.py
  services/hornex-api/jwt/serializers.py
  services/hornex-api/jwt/views.py
  services/hornex-api/pkg/grpc/__init__.py
  services/hornex-api/pkg/grpc/match_pb2.py
  services/hornex-api/pkg/grpc/match_pb2_grpc.py
  services/hornex-api/pkg/grpc/match_service.py
  services/hornex-api/pkg/grpc/server.py
  services/hornex-api/pkg/grpc/tournament_pb2.py
  services/hornex-api/pkg/grpc/tournament_pb2_grpc.py
  services/hornex-api/prod-api.sh
Due: hornex-api

chore: removed router hook from profile-menu-item component
  services/hornex-web/src/components/profile/profile-menu-item.tsx
  services/hornex-web/src/layouts/header.tsx
Due: root-install, hornex-web

fix: removed router hook from profile-menu-item component (#169)
  services/hornex-web/src/components/profile/profile-menu-item.tsx
  services/hornex-web/src/layouts/header.tsx
Due: root-install, hornex-web

fix: removed w-full from banner section
  services/hornex-web/src/app/page.tsx
Due: root-install, hornex-web

fix: removed w-full from banner section (#170)
  services/hornex-web/src/app/page.tsx
Due: root-install, hornex-web

chore: make gunicorn restart on failure
  services/hornex-api/gunicorn/gunicorn.service
Due: hornex-api

chore: setup rabbitmq singleton
  services/hornex-api/apps/tournaments/events.py
  services/hornex-api/core/settings.py
  services/hornex-api/lib/rabbitmq/__init__.py
  services/hornex-api/lib/rabbitmq/_bus.py
  services/hornex-api/lib/rabbitmq/_publisher.py
  services/hornex-api/lib/rabbitmq/apps.py
Due: hornex-api

chore: upgraded ruff
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/pkg/__init__.py
  services/hornex-api/poetry.lock
  services/hornex-api/pyproject.toml
  services/hornex-api/ruff.toml
Due: hornex-api

chore: minor adjustments to dev environment
  .github/workflows/hornex-api.yaml
  services/hornex-api/apps/accounts/views.py
  services/hornex-api/apps/configs/views.py
  services/hornex-api/apps/games/views.py
  services/hornex-api/apps/leagueoflegends/__init__.py
  services/hornex-api/apps/leagueoflegends/admin.py
  services/hornex-api/apps/leagueoflegends/apps.py
  services/hornex-api/apps/leagueoflegends/management/__init__.py
  services/hornex-api/apps/leagueoflegends/management/commands/__init__.py
  services/hornex-api/apps/leagueoflegends/management/commands/createfaketournaments.py
  services/hornex-api/apps/leagueoflegends/management/commands/registertournamentprovider.py
  services/hornex-api/apps/leagueoflegends/management/tests.py
  services/hornex-api/apps/leagueoflegends/migrations/0001_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0002_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/__init__.py
  services/hornex-api/apps/leagueoflegends/models.py
  services/hornex-api/apps/leagueoflegends/readme.md
  services/hornex-api/apps/leagueoflegends/serializers.py
  services/hornex-api/apps/leagueoflegends/signals.py
  services/hornex-api/apps/leagueoflegends/tasks.py
  services/hornex-api/apps/leagueoflegends/test_models.py
  services/hornex-api/apps/leagueoflegends/urls.py
  services/hornex-api/apps/leagueoflegends/views.py
  services/hornex-api/apps/notifications/views.py
  services/hornex-api/apps/payments/tests.py
  services/hornex-api/apps/payments/views.py
  services/hornex-api/apps/teams/views.py
  services/hornex-api/apps/tournaments/management/commands/checkinparticipants.py
  services/hornex-api/apps/tournaments/management/commands/registertournamentprovider.py
  services/hornex-api/apps/tournaments/management/tests.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/apps/users/views.py
  services/hornex-api/core/settings.py
  services/hornex-api/core/urls.py
  services/hornex-api/lib/jwt/__init__.py
  services/hornex-api/lib/jwt/authentication.py
  services/hornex-api/lib/jwt/serializers.py
  services/hornex-api/lib/jwt/views.py
Due: hornex-api

chore: added env to migrate step
  .github/workflows/hornex-api.yaml
  package.json
  services/hornex-api/apps/accounts/views.py
Due: hornex-api

chore: fixed package.json typo
  .github/workflows/hornex-api.yaml
  package.json
Due: none

chore: added ports to postgres and rabbitmq workflow
  .github/workflows/hornex-api.yaml
Due: none
