Repository hornexcode/hornex: changes, and which lefthook commands are due for each by the changed paths.
All: root-install, web-install, web-lint, api-install, api-lint, api-format

root-install:
  run: yarn install

web-install:
  run: yarn install

web-lint:
  run: yarn lint

api-install:
  run: poetry install --no-root

api-lint:
  run: poetry run ruff check --fix .

api-format:
  run: poetry run ruff format .

fix: change api uuids to id
  services/hornex-api/apps/tournaments/requests.py
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/usecases/create_and_register_team_into_tournament.py
  services/hornex-api/apps/tournaments/usecases/organizer/check_in_tournament.py
  services/hornex-api/apps/tournaments/usecases/organizer/check_in_tournament_test.py
  services/hornex-api/apps/tournaments/usecases/organizer/end_match.py
  services/hornex-api/apps/tournaments/usecases/organizer/end_tournament.py
  services/hornex-api/apps/tournaments/usecases/organizer/start_match.py
  services/hornex-api/apps/tournaments/usecases/organizer/start_tournament.py
  services/hornex-api/apps/tournaments/views.py
Due: api-install, api-lint, api-format

fix: change hornex web uuids to id
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/admin-tournament-details-tab-content.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-match/admin-tournament-match.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches-tab-content/admin-tournament-matches-tab-content.tsx
  services/hornex-web/src/contexts/admin-tournament.tsx
  services/hornex-web/src/lib/models/Match.ts
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/admin-tournament-details.handlers.tsx
Due: root-install, web-install, web-lint

feat: added standings to tournament detail
  services/hornex-api/apps/tournaments/serializers.py
  services/hornex-api/apps/tournaments/urls.py
  services/hornex-api/apps/tournaments/usecases/organizer/start_tournament.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/apps/users/migrations/0001_initial.py
  services/hornex-web/src/components/ui/molecules/tournament-standings-tab-content/index.tsx
  services/hornex-web/src/components/ui/molecules/tournament-standings-tab-content/tournament-standings-tab-content.tsx
  services/hornex-web/src/components/ui/organisms/tournament-tab-panels/tournament-tab-panels.tsx
  services/hornex-web/src/lib/models/Standing.ts
  services/hornex-web/src/lib/request/routes.ts
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

feat: MVP-82 | Tournament results (#142)
  services/hornex-api/apps/tournaments/requests.py
  services/hornex-api/apps/tournaments/serializers.py
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/urls.py
  services/hornex-api/apps/tournaments/usecases/create_and_register_team_into_tournament.py
  services/hornex-api/apps/tournaments/usecases/organizer/check_in_tournament.py
  services/hornex-api/apps/tournaments/usecases/organizer/check_in_tournament_test.py
  services/hornex-api/apps/tournaments/usecases/organizer/end_match.py
  services/hornex-api/apps/tournaments/usecases/organizer/end_tournament.py
  services/hornex-api/apps/tournaments/usecases/organizer/start_match.py
  services/hornex-api/apps/tournaments/usecases/organizer/start_tournament.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/apps/users/migrations/0001_initial.py
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/admin-tournament-details-tab-content.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-match/admin-tournament-match.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches-tab-content/admin-tournament-matches-tab-content.tsx
  services/hornex-web/src/components/ui/molecules/tournament-standings-tab-content/index.tsx
  services/hornex-web/src/components/ui/molecules/tournament-standings-tab-content/tournament-standings-tab-content.tsx
  services/hornex-web/src/components/ui/organisms/tournament-tab-panels/tournament-tab-panels.tsx
  services/hornex-web/src/contexts/admin-tournament.tsx
  services/hornex-web/src/lib/models/Match.ts
  services/hornex-web/src/lib/models/Standing.ts
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/admin-tournament-details.handlers.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

feat: added tournament results at organizer dashboard
  services/hornex-api/apps/tournaments/views.py
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/admin-tournament-details-tab-content.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-standings-tab-content/admin-tournament-standings-tab-content.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-standings-tab-content/index.tsx
  services/hornex-web/src/components/admin/organisms/admin-tournament-tab-nav/admin-tournament-tab-nav.tsx
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/admin-tournament-details.handlers.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: added winner component on tournament dashboard overview
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/admin-tournament-details-tab-content.tsx
Due: root-install, web-install, web-lint

fix: changed component for given one
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/admin-tournament-details-tab-content.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-standings-tab-content/admin-tournament-standings-tab-content.tsx
Due: root-install, web-install, web-lint

chore: minor adjustments
  services/hornex-api/apps/tournaments/views.py
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/admin-tournament-details-tab-content.tsx
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/admin-tournament-details.handlers.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

feat: MVP-83: Display results resume in tournament dashboard overview (#144)
  services/hornex-api/apps/tournaments/views.py
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/admin-tournament-details-tab-content.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-standings-tab-content/admin-tournament-standings-tab-content.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-standings-tab-content/index.tsx
  services/hornex-web/src/components/admin/organisms/admin-tournament-tab-nav/admin-tournament-tab-nav.tsx
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/admin-tournament-details.handlers.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: normalized form components
  services/hornex-api/jwt_token/views.py
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.schema.ts
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.tsx
  services/hornex-web/src/components/profile/profile-menu-item.tsx
  services/hornex-web/src/components/ui/calendar.tsx
  services/hornex-web/src/components/ui/checkbox.tsx
  services/hornex-web/src/components/ui/date-picker.tsx
  services/hornex-web/src/components/ui/input.tsx
  services/hornex-web/src/components/ui/molecules/tournament-feed-item/tournament-feed-item.tsx
  services/hornex-web/src/components/ui/select.tsx
  services/hornex-web/src/components/ui/textarea.tsx
  services/hornex-web/src/config/routes.ts
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/admin/tournaments/create.tsx
  services/hornex-web/src/pages/compete.tsx
  services/hornex-web/src/pages/index.tsx
  services/hornex-web/src/pages/registrations.tsx
  services/hornex-web/src/pages/signin.tsx
  services/hornex-web/tailwind.config.js
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

feat: added profile model
  services/hornex-api/apps/accounts/migrations/0003_profile.py
  services/hornex-api/apps/accounts/models.py
  services/hornex-web/bun.lockb
Due: web-install, web-lint, api-install, api-lint, api-format

feat: MVP-84 | Create profile model (#146)
  services/hornex-api/apps/accounts/migrations/0003_profile.py
  services/hornex-api/apps/accounts/models.py
  services/hornex-web/bun.lockb
Due: web-install, web-lint, api-install, api-lint, api-format

feat: added service for profile
  services/hornex-api/apps/accounts/serializers.py
  services/hornex-api/apps/accounts/tests.py
  services/hornex-api/apps/accounts/urls.py
  services/hornex-api/apps/accounts/views.py
Due: api-install, api-lint, api-format

feat: added riot tournament code to start_match usecase
  services/hornex-api/apps/tournaments/migrations/0005_match_riot_match_id.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/usecases/organizer/start_match.py
Due: api-install, api-lint, api-format

refact: get puuids from Summoner Model
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/usecases/organizer/start_match.py
  services/hornex-api/test/factories.py
Due: api-install, api-lint, api-format

test: covered start match with create code
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/usecases/organizer/start_match.py
  services/hornex-api/test/factories.py
Due: api-install, api-lint, api-format

feat: MVP-85 | Create profile service (#147)
  services/hornex-api/apps/accounts/serializers.py
  services/hornex-api/apps/accounts/tests.py
  services/hornex-api/apps/accounts/urls.py
  services/hornex-api/apps/accounts/views.py
Due: api-install, api-lint, api-format

chore: adjusted to requested changes
  services/hornex-api/apps/tournaments/migrations/0006_rename_riot_match_id_match_riot_match_code.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/usecases/organizer/start_match.py
Due: api-install, api-lint, api-format

chore: added mailer with resend
  services/hornex-api/lib/mail/templates/__init__.py
  services/hornex-api/lib/mailer/__init__.py
  services/hornex-api/lib/mailer/_accounts.py
  services/hornex-api/lib/mailer/templates/__init__.py
  services/hornex-api/lib/mailer/templates/registration-success.html
Due: api-install, api-lint, api-format

chore: added mailer with resend (#149)
  services/hornex-api/lib/mail/templates/__init__.py
  services/hornex-api/lib/mailer/__init__.py
  services/hornex-api/lib/mailer/_accounts.py
  services/hornex-api/lib/mailer/templates/__init__.py
  services/hornex-api/lib/mailer/templates/registration-success.html
Due: api-install, api-lint, api-format

feat: MVP-86 | Generate league of legends match code on start match (#148)
  services/hornex-api/apps/tournaments/migrations/0005_match_riot_match_id.py
  services/hornex-api/apps/tournaments/migrations/0006_rename_riot_match_id_match_riot_match_code.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/usecases/organizer/start_match.py
  services/hornex-api/test/factories.py
Due: api-install, api-lint, api-format

fix: all integration tests
  services/hornex-api/apps/tournaments/migrations/0007_alter_registration_challonge_participant_id.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/test_models.py
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/urls.py
  services/hornex-api/apps/tournaments/usecases/create_and_register_team_into_tournament.py
  services/hornex-api/apps/tournaments/usecases/organizer/end_match.py
  services/hornex-api/apps/tournaments/usecases/register_team_into_tournament.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/apps/webhooks/tests.py
  services/hornex-api/lib/mailer/__init__.py
Due: api-install, api-lint, api-format

chore: setup aws cache secret manager
  services/hornex-api/aws_secret_manager_issuer.py
  services/hornex-api/poetry.lock
  services/hornex-api/pyproject.toml
Due: api-install, api-lint, api-format

chore: fetch secrets and inject it into os environments
  services/hornex-api/aws_secret_manager_issuer.py
Due: api-install, api-lint, api-format

chore: added structlogger to aws-secret-manager-issuer
  services/hornex-api/aws_secret_manager_issuer.py
  services/hornex-web/src/components/admin/molecules/admin-tournament-match/admin-tournament-match.tsx
  services/hornex-web/src/components/ui/molecules/tournament-feed-item/tournament-feed-item.tsx
  services/hornex-web/src/components/ui/toast.tsx
  services/hornex-web/src/pages/index.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: fixed python venv
  services/hornex-api/gunicorn/gunicorn.service
  services/hornex-api/prod-api.sh
Due: api-install, api-lint, api-format

chore: added python script to load app envs
  services/hornex-api/aws_secret_manager_issuer.py
Due: api-install, api-lint, api-format

chore: fixed gunicorn WorkingDirectory
  services/hornex-api/gunicorn/gunicorn.service
Due: api-install, api-lint, api-format

chore: added aws sm issuer
  services/hornex-api/aws_secret_manager_issuer.py
  services/hornex-api/poetry.lock
  services/hornex-api/pyproject.toml
Due: api-install, api-lint, api-format

chore: added essencial scripts
  services/hornex-api/gunicorn/gunicorn.service
  services/hornex-api/gunicorn/gunicorn.socket
  services/hornex-api/nginx/nginx.conf
  services/hornex-api/scripts/after-install.sh
  services/hornex-api/scripts/gunicorn.sh
  services/hornex-api/scripts/instance-os-dependencies.sh
  services/hornex-api/scripts/nginx.sh
  services/hornex-api/scripts/python-dependencies.sh
  services/hornex-api/scripts/start-app.sh
Due: api-install, api-lint, api-format

chore: load secrets from .env file using dotenv
  services/hornex-api/core/settings.py
Due: api-install, api-lint, api-format

chore: updated nginx config file
  services/hornex-api/nginx/nginx.conf
Due: api-install, api-lint, api-format

chore: updated healthcheck
  services/hornex-api/aws_secret_manager_issuer.py
  services/hornex-api/core/healthcheck.py
Due: api-install, api-lint, api-format

chore: fixed db name
  services/hornex-api/aws_secret_manager_issuer.py
  services/hornex-api/wait_for_postgres.py
Due: api-install, api-lint, api-format

chore: minor adjustment to add localhost as default allowed host
  services/hornex-api/core/settings.py
Due: api-install, api-lint, api-format

chore: fixed nginx setup script
  services/hornex-api/scripts/nginx.sh
Due: api-install, api-lint, api-format

Path conditions:
  root-install: any of: **/*.{ts,js,tsx,jsx}
  web-install: any of: services/hornex-web/** and ^services/hornex\-web/
  web-lint: any of: services/hornex-web/** and ^services/hornex\-web/
  api-install: any of: services/hornex-api/** and ^services/hornex\-api/
  api-lint: any of: services/hornex-api/** and ^services/hornex\-api/
  api-format: any of: services/hornex-api/** and ^services/hornex\-api/
