Repository hornexcode/hornex: changes, and which lefthook commands are due for each by the changed paths.
All: root-install, web-install, web-lint, api-install, api-lint, api-format

lefthook.yaml:

# https://github.com/evilmartians/lefthook

assert_lefthook_installed: true

pre-commit:
  follow: true

  commands:
    root-install:
      run: yarn install
      glob: "**/*.{ts,js,tsx,jsx}"

    web-install:
      glob: "services/hornex-web/**"
      run: yarn install
      root: services/hornex-web
    web-lint:
      glob: "services/hornex-web/**"
      run: yarn lint
      root: services/hornex-web

    api-install:
      glob: "services/hornex-api/**"
      run: poetry install --no-root
      root: services/hornex-api
    api-lint:
      glob: "services/hornex-api/**"
      run: poetry run ruff check --fix .
      root: services/hornex-api
    api-format:
      glob: "services/hornex-api/**"
      run: poetry run ruff format .
      root: services/hornex-api

chore: removed registration_end_date
  services/hornex-api/apps/leagueoflegends/management/commands/createfaketournaments.py
  services/hornex-api/apps/leagueoflegends/test_models.py
  services/hornex-api/apps/payments/tests.py
  services/hornex-api/apps/tournaments/management/commands/checkinparticipants.py
  services/hornex-api/apps/tournaments/management/commands/createtournament.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/serializers.py
  services/hornex-api/apps/tournaments/test_models.py
  services/hornex-api/apps/tournaments/urls.py
  services/hornex-api/apps/tournaments/usecases/organizer/create_tournament.py
  services/hornex-api/apps/tournaments/usecases/organizer/create_tournament_test.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/bin/seed_database.py
  services/hornex-api/test/factories.py
  services/hornex-web/src/lib/models/Tournament.ts
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: updated tournament model and add new features to edit page
  services/hornex-api/apps/teams/management/commands/createteam.py
  services/hornex-api/apps/tournaments/migrations/0006_remove_tournament_registration_end_date_and_more.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/serializers.py
  services/hornex-api/apps/tournaments/urls.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/test/factories.py
  services/hornex-web/src/components/admin/molecules/tournament-row/index.tsx
  services/hornex-web/src/components/admin/molecules/tournament-row/tournament-row.tsx
  services/hornex-web/src/components/admin/molecules/tournament-row/tournament-row.types.ts
  services/hornex-web/src/components/admin/molecules/tournament-status-stepper/tournament-status-stepper.tsx
  services/hornex-web/src/components/admin/molecules/tournament-table-row/index.tsx
  services/hornex-web/src/components/admin/organisms/tournament-table/tournament-table.tsx
  services/hornex-web/src/components/ui/atoms/button/button.tsx
  services/hornex-web/src/components/ui/molecules/tournament-phases-widget/tournament-phases-widget.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-details-tab-panels.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-overview-tab-panel/tournament-overview-tab-panel.tsx
  services/hornex-web/src/components/ui/toaster.tsx
  services/hornex-web/src/lib/models/Tournament.ts
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id].tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/admin-tournament-details.handlers.tsx
  services/hornex-web/src/pages/admin/tournaments/index.tsx
  services/hornex-web/src/utils/datetime.ts
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

resetted migrations
  services/hornex-api/apps/accounts/migrations/0001_initial.py
  services/hornex-api/apps/accounts/migrations/0002_initial.py
  services/hornex-api/apps/accounts/migrations/0003_termsandconditionsagreement.py
  services/hornex-api/apps/configs/migrations/0001_initial.py
  services/hornex-api/apps/games/migrations/0001_initial.py
  services/hornex-api/apps/games/migrations/0002_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0001_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0002_initial.py
  services/hornex-api/apps/notifications/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0002_initial.py
  services/hornex-api/apps/platforms/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0002_initial.py
  services/hornex-api/apps/tournaments/migrations/0001_initial.py
  services/hornex-api/apps/tournaments/migrations/0002_initial.py
  services/hornex-api/apps/tournaments/migrations/0003_tournament_currency_alter_tournament_phase.py
  services/hornex-api/apps/tournaments/migrations/0004_rename_phase_tournament_status.py
  services/hornex-api/apps/tournaments/migrations/0005_alter_tournament_status.py
  services/hornex-api/apps/tournaments/migrations/0006_remove_tournament_registration_end_date_and_more.py
  services/hornex-api/apps/users/migrations/0001_initial.py
Due: api-install, api-lint, api-format

resetted migrations
  services/hornex-api/apps/accounts/migrations/0001_initial.py
  services/hornex-api/apps/accounts/migrations/0002_initial.py
  services/hornex-api/apps/configs/migrations/0001_initial.py
  services/hornex-api/apps/games/migrations/0001_initial.py
  services/hornex-api/apps/games/migrations/0002_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0001_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0002_initial.py
  services/hornex-api/apps/notifications/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0002_initial.py
  services/hornex-api/apps/platforms/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0002_initial.py
  services/hornex-api/apps/tournaments/migrations/0001_initial.py
  services/hornex-api/apps/tournaments/migrations/0002_initial.py
  services/hornex-api/apps/users/migrations/0001_initial.py
  services/hornex-api/apps/users/migrations/0002_alter_user_groups.py
  services/hornex-web/src/components/admin/molecules/tournament-row/tournament-row.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

fix: merge errors
  services/hornex-api/apps/tournaments/usecases/organizer/create_tournament.py
  services/hornex-api/apps/tournaments/usecases/organizer/create_tournament_test.py
Due: api-install, api-lint, api-format

save point
  services/hornex-api/apps/tournaments/usecases/organizer/create_tournament.py
Due: api-install, api-lint, api-format

save
  services/hornex-api/apps/tournaments/dashboard/views.py
  services/hornex-api/apps/tournaments/requests/serializers.py
  services/hornex-api/apps/tournaments/usecases/organizer/create_tournament.py
Due: api-install, api-lint, api-format

Revert Herbet's commit
  services/hornex-api/apps/tournaments/dashboard/views.py
  services/hornex-api/apps/tournaments/requests/serializers.py
  services/hornex-api/apps/tournaments/usecases/organizer/create_tournament.py
Due: api-install, api-lint, api-format

chore: minor adjustments to layout
  services/hornex-web/src/components/admin/organisms/tournament-create-form/tournament-create-form.tsx
  services/hornex-web/src/components/profile/profile-menu-item.tsx
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/calendar.tsx
  services/hornex-web/src/components/ui/date-picker.tsx
  services/hornex-web/src/components/ui/input.tsx
  services/hornex-web/src/components/ui/select.tsx
  services/hornex-web/src/components/ui/textarea.tsx
  services/hornex-web/src/pages/admin/tournaments/index.tsx
  services/hornex-web/tailwind.config.js
Due: root-install, web-install, web-lint

chore: implemented temporaly registrations with participants
  services/hornex-api/apps/tournaments/admin.py
  services/hornex-api/apps/tournaments/migrations/0003_participant.py
  services/hornex-api/apps/tournaments/migrations/0004_participant_team_idx.py
  services/hornex-api/apps/tournaments/migrations/0005_participant_email.py
  services/hornex-api/apps/tournaments/migrations/0006_alter_participant_unique_together_and_more.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/requests.py
  services/hornex-api/apps/tournaments/urls.py
  services/hornex-api/apps/tournaments/usecases/__init__.py
  services/hornex-api/apps/tournaments/usecases/list_registered_teams.py
  services/hornex-api/apps/tournaments/usecases/register.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/apps/users/migrations/0002_alter_user_groups.py
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-overview-tab-panel/tournament-overview-tab-panel.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/lib/request/routes.ts
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: implemented temporaly registrations with participants
  services/hornex-api/apps/tournaments/migrations/0003_participant.py
  services/hornex-api/apps/tournaments/migrations/0004_participant_team_idx.py
  services/hornex-api/apps/tournaments/migrations/0005_participant_email.py
  services/hornex-api/apps/tournaments/migrations/0006_alter_participant_unique_together_and_more.py
  services/hornex-api/apps/users/migrations/0002_alter_user_groups.py
Due: api-install, api-lint, api-format

feat: alternative registrations (#125)
  services/hornex-api/apps/tournaments/admin.py
  services/hornex-api/apps/tournaments/migrations/0003_participant.py
  services/hornex-api/apps/tournaments/migrations/0004_participant_team_idx.py
  services/hornex-api/apps/tournaments/migrations/0005_participant_email.py
  services/hornex-api/apps/tournaments/migrations/0006_alter_participant_unique_together_and_more.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/requests.py
  services/hornex-api/apps/tournaments/urls.py
  services/hornex-api/apps/tournaments/usecases/__init__.py
  services/hornex-api/apps/tournaments/usecases/list_registered_teams.py
  services/hornex-api/apps/tournaments/usecases/register.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/apps/users/migrations/0002_alter_user_groups.py
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-overview-tab-panel/tournament-overview-tab-panel.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/lib/request/routes.ts
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: initial setup
  services/hornex-api/apps/accounts/models.py
  services/hornex-api/apps/teams/request.py
  services/hornex-api/apps/teams/usecases/__init__.py
  services/hornex-api/apps/teams/usecases/mount_team.py
  services/hornex-api/apps/teams/views.py
  services/hornex-api/bin/seed_database.py
  services/hornex-web/bun.lockb
  services/hornex-web/package.json
  services/hornex-web/src/components/ui/molecules/select-team-tab/index.tsx
  services/hornex-web/src/components/ui/molecules/select-team-tab/select-team-tab.tsx
  services/hornex-web/src/components/ui/organisms/register-team-view/register-team-modal-view.tsx
  services/hornex-web/src/components/ui/organisms/register-team-view/select-team-step.tsx
  services/hornex-web/src/components/ui/tabs.tsx
  services/hornex-web/src/lib/request/api.ts
  services/hornex-web/tsconfig.json
  services/hornex-web/yarn.lock
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

feat: added mount team on tournament registering step
  services/hornex-api/apps/accounts/admin.py
  services/hornex-api/apps/accounts/migrations/0003_gameid_email_alter_gameid_nickname_alter_gameid_user.py
  services/hornex-api/apps/accounts/models.py
  services/hornex-api/apps/teams/migrations/0003_remove_member_user_member_game_id_alter_team_members.py
  services/hornex-api/apps/teams/models.py
  services/hornex-api/apps/teams/urls.py
  services/hornex-api/apps/teams/usecases/mount_team.py
  services/hornex-api/apps/teams/usecases/mount_team_test.py
  services/hornex-api/apps/teams/views.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/apps/users/migrations/0002_alter_user_groups.py
  services/hornex-api/bin/seed_database.py
  services/hornex-web/bun.lockb
  services/hornex-web/src/components/ui/molecules/select-team-tab/index.tsx
  services/hornex-web/src/components/ui/molecules/select-team-tab/mount-team-form.schema.ts
  services/hornex-web/src/components/ui/molecules/select-team-tab/select-team-tab.tsx
  services/hornex-web/src/components/ui/organisms/register-team-view/select-team-step.tsx
  services/hornex-web/src/components/ui/organisms/select-team-form/index.tsx
  services/hornex-web/src/components/ui/organisms/select-team-form/select-team-form.tsx
  services/hornex-web/src/lib/request/routes.ts
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

fix: tests failing afeter changes
  services/hornex-api/apps/teams/models.py
  services/hornex-api/apps/teams/tests.py
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/webhooks/tests.py
  services/hornex-api/test/factories.py
Due: api-install, api-lint, api-format

feat: MVP-75 | Implement registration form without team (#126)
  services/hornex-api/apps/accounts/admin.py
  services/hornex-api/apps/accounts/migrations/0003_gameid_email_alter_gameid_nickname_alter_gameid_user.py
  services/hornex-api/apps/accounts/models.py
  services/hornex-api/apps/teams/migrations/0003_remove_member_user_member_game_id_alter_team_members.py
  services/hornex-api/apps/teams/models.py
  services/hornex-api/apps/teams/request.py
  services/hornex-api/apps/teams/tests.py
  services/hornex-api/apps/teams/urls.py
  services/hornex-api/apps/teams/usecases/__init__.py
  services/hornex-api/apps/teams/usecases/mount_team.py
  services/hornex-api/apps/teams/usecases/mount_team_test.py
  services/hornex-api/apps/teams/views.py
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/apps/users/migrations/0002_alter_user_groups.py
  services/hornex-api/apps/webhooks/tests.py
  services/hornex-api/bin/seed_database.py
  services/hornex-api/test/factories.py
  services/hornex-web/bun.lockb
  services/hornex-web/package.json
  services/hornex-web/src/components/ui/molecules/select-team-tab/index.tsx
  services/hornex-web/src/components/ui/molecules/select-team-tab/mount-team-form.schema.ts
  services/hornex-web/src/components/ui/molecules/select-team-tab/select-team-tab.tsx
  services/hornex-web/src/components/ui/organisms/register-team-view/register-team-modal-view.tsx
  services/hornex-web/src/components/ui/organisms/register-team-view/select-team-step.tsx
  services/hornex-web/src/components/ui/organisms/select-team-form/index.tsx
  services/hornex-web/src/components/ui/organisms/select-team-form/select-team-form.tsx
  services/hornex-web/src/components/ui/tabs.tsx
  services/hornex-web/src/lib/request/api.ts
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/tsconfig.json
  services/hornex-web/yarn.lock
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: fixed registration status
  services/hornex-api/apps/tournaments/migrations/0007_alter_participant_tournament.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/serializers.py
  services/hornex-api/apps/tournaments/urls.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/organisms/tournament-details-tab-panels/tournament-overview-tab-panel/tournament-overview-tab-panel.tsx
  services/hornex-web/src/contexts/tournament.tsx
  services/hornex-web/src/lib/models/Participant.ts
  services/hornex-web/src/lib/models/index.ts
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/pages/[platform]/[game]/tournaments/[id]/loading.tsx
  services/hornex-web/src/pages/compete.tsx
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

feat: added admin-tournament-nav-tabs
  services/hornex-web/src/components/admin/organisms/admin-tournament-general-info/admin-tournament-general-info.tsx
  services/hornex-web/src/components/admin/organisms/admin-tournament-general-info/index.tsx
  services/hornex-web/src/components/admin/organisms/admin-tournament-matches-list/admin-tournament-matches-list.tsx
  services/hornex-web/src/components/admin/organisms/admin-tournament-matches-list/admin-tournament-matches-list.types.ts
  services/hornex-web/src/components/admin/organisms/admin-tournament-matches-list/index.tsx
  services/hornex-web/src/components/admin/templates/admin-tournament-tab-nav/admin-tournament-tab-nav.tsx
  services/hornex-web/src/components/admin/templates/admin-tournament-tab-nav/index.tsx
  services/hornex-web/src/components/ui/atoms/register-button.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/contexts/organizer/index.tsx
  services/hornex-web/src/contexts/organizer/tournament.tsx
  services/hornex-web/src/layouts/tournament/layout.tsx
  services/hornex-web/src/layouts/tournament/sidebar.tsx
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id].tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/admin-tournament-details.handlers.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/index.tsx
Due: root-install, web-install, web-lint

matches page
  services/hornex-web/src/components/admin/molecules/admin-tournament-general-info/admin-tournament-general-info.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-general-info/index.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-match/admin-tournament-match.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-match/index.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches/admin-tournament-matches.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches/admin-tournament-matches.types.ts
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches/index.tsx
  services/hornex-web/src/components/admin/organisms/admin-tournament-matches-list/admin-tournament-matches-list.tsx
  services/hornex-web/src/components/admin/organisms/admin-tournament-matches-list/index.tsx
  services/hornex-web/src/components/admin/organisms/admin-tournament-tab-nav/admin-tournament-tab-nav.tsx
  services/hornex-web/src/components/admin/organisms/admin-tournament-tab-nav/index.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/index.tsx
Due: root-install, web-install, web-lint

switched color theme
  services/hornex-api/apps/tournaments/views.py
  services/hornex-web/src/components/admin/molecules/admin-tournament-general-info/admin-tournament-general-info.tsx
  services/hornex-web/src/components/admin/organisms/admin-tournament-tab-nav/admin-tournament-tab-nav.tsx
  services/hornex-web/src/components/ui/atoms/button/button.tsx
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/molecules/tournament-feed-item/tournament-feed-item.tsx
  services/hornex-web/src/components/ui/organisms/register-team-view/select-team-step.tsx
  services/hornex-web/src/components/ui/organisms/tournament-status-stepper/index.tsx
  services/hornex-web/src/components/ui/organisms/tournament-status-stepper/tournament-status-stepper.tsx
  services/hornex-web/src/components/ui/organisms/tournament-status-stepper/tournament-status-stepper.types.ts
  services/hornex-web/src/components/ui/organisms/tournament-tab-panels/tournament-tab-panels.tsx
  services/hornex-web/src/components/ui/tabs.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/layouts/index.tsx
  services/hornex-web/src/layouts/tournament/sidebar.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/styles/global.css
  services/hornex-web/tailwind.config.js
Due: root-install, web-install, web-lint, api-install, api-lint, api-format

chore: minor adjustments to stepper layout
  services/hornex-web/src/components/ui/organisms/tournament-status-stepper/tournament-status-stepper.tsx
Due: root-install, web-install, web-lint

chore: minor adjustments to layout
  services/hornex-web/src/components/admin/molecules/admin-tournament-general-info/admin-tournament-general-info.tsx
  services/hornex-web/src/components/admin/molecules/tournament-row/tournament-row.tsx
  services/hornex-web/src/components/profile/profile-menu-item.tsx
  services/hornex-web/src/components/ui/calendar.tsx
  services/hornex-web/src/components/ui/date-picker.tsx
  services/hornex-web/src/components/ui/input.tsx
  services/hornex-web/src/components/ui/molecules/tournament-details-headline/tournament-details-headline.tsx
  services/hornex-web/src/components/ui/molecules/tournament-feed-item/tournament-feed-item.tsx
  services/hornex-web/src/components/ui/organisms/tournament-tab-panels/tournament-tab-panels.tsx
  services/hornex-web/src/components/ui/select.tsx
  services/hornex-web/src/components/ui/switch.tsx
  services/hornex-web/src/components/ui/tabs.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/components/ui/textarea.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/styles/global.css
Due: root-install, web-install, web-lint

chore: improved grid template on tournament details page
  services/hornex-web/public/images/tournaments/tmt-7.jpeg
  services/hornex-web/src/components/profile/profile-menu-item.tsx
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/molecules/tournament-feed-item/tournament-feed-item.tsx
  services/hornex-web/src/components/ui/organisms/tournament-tab-panels/tournament-tab-panels.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/layouts/index.tsx
  services/hornex-web/src/layouts/tournament/layout.tsx
  services/hornex-web/src/layouts/tournament/sidebar.tsx
  services/hornex-web/src/pages/_app.tsx
Due: root-install, web-install, web-lint

chore: added design token for matches
  services/hornex-web/src/components/admin/molecules/admin-tournament-general-info/admin-tournament-general-info.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-match/admin-tournament-match.tsx
  services/hornex-web/src/components/admin/organisms/admin-tournament-tab-nav/admin-tournament-tab-nav.tsx
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/pages/_app.tsx
Due: root-install, web-install, web-lint

chore: Added new components to organizer dashboard (#129)
  services/hornex-web/public/images/tournaments/tmt-7.jpeg
  services/hornex-web/src/components/admin/molecules/admin-tournament-general-info/admin-tournament-general-info.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-match/admin-tournament-match.tsx
  services/hornex-web/src/components/admin/organisms/admin-tournament-tab-nav/admin-tournament-tab-nav.tsx
  services/hornex-web/src/components/profile/profile-menu-item.tsx
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/molecules/tournament-feed-item/tournament-feed-item.tsx
  services/hornex-web/src/components/ui/organisms/tournament-tab-panels/tournament-tab-panels.tsx
  services/hornex-web/src/components/ui/templates/tournament-details-template/tournament-details-template.tsx
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/layouts/index.tsx
  services/hornex-web/src/layouts/tournament/layout.tsx
  services/hornex-web/src/layouts/tournament/sidebar.tsx
  services/hornex-web/src/pages/_app.tsx
Due: root-install, web-install, web-lint

chore: added list of teams on dashboard
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/admin-tournament-details-tab-content.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/index.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-general-info/index.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches-tab-content/admin-tournament-matches-tab-content.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches-tab-content/admin-tournament-matches-tab-content.types.ts
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches-tab-content/index.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches/admin-tournament-matches.types.ts
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches/index.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-team-row/admin-tournament-team-row.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-team-row/index.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-teams-tab-content/admin-tournament-teams-tab-content.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-teams-tab-content/index.tsx
  services/hornex-web/src/components/admin/organisms/admin-tournament-tab-nav/admin-tournament-tab-nav.tsx
  services/hornex-web/src/components/ui/atoms/connect-account-button.tsx
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/molecules/tournament-feed-item/tournament-feed-item.tsx
  services/hornex-web/src/contexts/admin-tournament.tsx
  services/hornex-web/src/contexts/index.tsx
  services/hornex-web/src/contexts/organizer/index.tsx
  services/hornex-web/src/contexts/organizer/tournament.tsx
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/admin-tournament-details.handlers.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/tailwind.config.js
Due: root-install, web-install, web-lint

chore: Added team list component on our dashoard (#130)
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/admin-tournament-details-tab-content.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-details-tab-content/index.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-general-info/index.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches-tab-content/admin-tournament-matches-tab-content.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches-tab-content/admin-tournament-matches-tab-content.types.ts
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches-tab-content/index.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches/admin-tournament-matches.types.ts
  services/hornex-web/src/components/admin/molecules/admin-tournament-matches/index.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-team-row/admin-tournament-team-row.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-team-row/index.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-teams-tab-content/admin-tournament-teams-tab-content.tsx
  services/hornex-web/src/components/admin/molecules/admin-tournament-teams-tab-content/index.tsx
  services/hornex-web/src/components/admin/organisms/admin-tournament-tab-nav/admin-tournament-tab-nav.tsx
  services/hornex-web/src/components/ui/atoms/connect-account-button.tsx
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/molecules/tournament-feed-item/tournament-feed-item.tsx
  services/hornex-web/src/contexts/admin-tournament.tsx
  services/hornex-web/src/contexts/index.tsx
  services/hornex-web/src/contexts/organizer/index.tsx
  services/hornex-web/src/contexts/organizer/tournament.tsx
  services/hornex-web/src/lib/request/routes.ts
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/admin-tournament-details.handlers.tsx
  services/hornex-web/src/pages/admin/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/tailwind.config.js
Due: root-install, web-install, web-lint

chore: changed mount_team endpoint
  services/hornex-api/apps/accounts/migrations/0001_initial.py
  services/hornex-api/apps/accounts/migrations/0002_initial.py
  services/hornex-api/apps/accounts/migrations/0003_gameid_email_alter_gameid_nickname_alter_gameid_user.py
  services/hornex-api/apps/configs/migrations/0001_initial.py
  services/hornex-api/apps/games/migrations/0001_initial.py
  services/hornex-api/apps/games/migrations/0002_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0001_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0002_initial.py
  services/hornex-api/apps/notifications/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0002_initial.py
  services/hornex-api/apps/platforms/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0002_initial.py
  services/hornex-api/apps/teams/migrations/0003_remove_member_user_member_game_id_alter_team_members.py
  services/hornex-api/apps/teams/models.py
  services/hornex-api/apps/teams/urls.py
  services/hornex-api/apps/teams/usecases/mount_team.py
  services/hornex-api/apps/teams/usecases/mount_team_test.py
  services/hornex-api/apps/teams/views.py
  services/hornex-api/apps/tournaments/migrations/0001_initial.py
  services/hornex-api/apps/tournaments/migrations/0002_initial.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/users/migrations/0001_initial.py
  services/hornex-api/apps/users/migrations/0002_alter_user_groups.py
  services/hornex-api/apps/webhooks/tests.py
  services/hornex-api/test/factories.py
Due: api-install, api-lint, api-format

chore: changed mount_team to tournaments namespace and fixed tests
  services/hornex-api/apps/accounts/migrations/0001_initial.py
  services/hornex-api/apps/accounts/migrations/0002_initial.py
  services/hornex-api/apps/configs/migrations/0001_initial.py
  services/hornex-api/apps/games/migrations/0001_initial.py
  services/hornex-api/apps/games/migrations/0002_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0001_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0002_initial.py
  services/hornex-api/apps/notifications/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0002_initial.py
  services/hornex-api/apps/platforms/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0002_initial.py
  services/hornex-api/apps/teams/models.py
  services/hornex-api/apps/teams/request.py
  services/hornex-api/apps/teams/urls.py
  services/hornex-api/apps/teams/usecases/__init__.py
  services/hornex-api/apps/teams/views.py
  services/hornex-api/apps/tournaments/migrations/0001_initial.py
  services/hornex-api/apps/tournaments/migrations/0002_initial.py
  services/hornex-api/apps/tournaments/models.py
  services/hornex-api/apps/tournaments/requests.py
  services/hornex-api/apps/tournaments/urls.py
  services/hornex-api/apps/tournaments/usecases/__init__.py
  services/hornex-api/apps/tournaments/usecases/mount_team.py
  services/hornex-api/apps/tournaments/usecases/mount_team_test.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/apps/users/migrations/0001_initial.py
  services/hornex-api/test/factories.py
Due: api-install, api-lint, api-format

feat: chage mount to create_and_register_team usecase
  services/hornex-api/apps/tournaments/requests.py
  services/hornex-api/apps/tournaments/urls.py
  services/hornex-api/apps/tournaments/usecases/__init__.py
  services/hornex-api/apps/tournaments/usecases/create_and_register_team.py
  services/hornex-api/apps/tournaments/usecases/create_and_register_team_test.py
  services/hornex-api/apps/tournaments/views.py
Due: api-install, api-lint, api-format

chore: rebase and reset migrations
  services/hornex-api/apps/accounts/migrations/0001_initial.py
  services/hornex-api/apps/accounts/migrations/0002_initial.py
  services/hornex-api/apps/configs/migrations/0001_initial.py
  services/hornex-api/apps/games/migrations/0001_initial.py
  services/hornex-api/apps/games/migrations/0002_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0001_initial.py
  services/hornex-api/apps/leagueoflegends/migrations/0002_initial.py
  services/hornex-api/apps/notifications/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0001_initial.py
  services/hornex-api/apps/payments/migrations/0002_initial.py
  services/hornex-api/apps/platforms/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0001_initial.py
  services/hornex-api/apps/teams/migrations/0002_initial.py
  services/hornex-api/apps/tournaments/migrations/0001_initial.py
  services/hornex-api/apps/tournaments/migrations/0002_initial.py
  services/hornex-api/apps/tournaments/usecases/organizer/create_tournament_test.py
  services/hornex-api/apps/users/migrations/0001_initial.py
Due: api-install, api-lint, api-format

feat: added endpoint to register team into tournament
  services/hornex-api/apps/accounts/migrations/0003_alter_gameid_user.py
  services/hornex-api/apps/accounts/models.py
  services/hornex-api/apps/tournaments/requests.py
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/usecases/__init__.py
  services/hornex-api/apps/tournaments/usecases/create_and_register_team_into_tournament.py
  services/hornex-api/apps/tournaments/usecases/create_and_register_team_into_tournament_test.py
  services/hornex-api/apps/tournaments/usecases/register_team_into_tournament.py
  services/hornex-api/apps/tournaments/usecases/register_team_into_tournament_test.py
  services/hornex-api/apps/tournaments/views.py
  services/hornex-api/lib/challonge/_tournament.py
Due: api-install, api-lint, api-format

improvements
  services/hornex-web/public/images/league-of-legends/baron.jpg
  services/hornex-web/src/assets/images/games/league-of-legends/baron.jpg
  services/hornex-web/src/assets/images/games/league-of-legends/summoners-rift-map.png
  services/hornex-web/src/components/ui/atoms/expired-login-button.tsx
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/config/routes.ts
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/layouts/sidebar.tsx
  services/hornex-web/src/lib/models/types/rest/get-tournaments.ts
  services/hornex-web/src/pages/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/pages/admin/tournaments/index.tsx
  services/hornex-web/src/pages/compete.tsx
Due: root-install, web-install, web-lint

test: covered register team into tournament
  services/hornex-api/apps/tournaments/tests.py
  services/hornex-api/apps/tournaments/usecases/create_and_register_team_into_tournament_test.py
  services/hornex-api/apps/tournaments/usecases/register_team_into_tournament.py
  services/hornex-api/apps/tournaments/usecases/register_team_into_tournament_test.py
Due: api-install, api-lint, api-format

chore: added compete background image
  services/hornex-web/src/components/admin/molecules/admin-tournament-team-row/admin-tournament-team-row.tsx
  services/hornex-web/src/components/ui/atoms/connect-account-button.tsx
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/molecules/tournament-feed-item/tournament-feed-item.tsx
  services/hornex-web/src/components/ui/templates/tournaments-feed-template/tournaments-feed-template.tsx
  services/hornex-web/src/components/ui/templates/tournaments-feed-template/tournaments-feed-template.types.ts
  services/hornex-web/src/components/ui/toast.tsx
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/layouts/index.tsx
  services/hornex-web/src/layouts/tournament/index.tsx
  services/hornex-web/src/layouts/tournament/layout.tsx
  services/hornex-web/src/layouts/tournament/sidebar.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/compete.tsx
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-Bold.ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-BoldItalic(1).ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-BoldItalic.ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-Heavy.ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-HeavyItalic.ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-Italic.ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-Light.ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-LightItalic.ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-Medium.ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-MediumItalic.ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-Regular.ttf
  services/hornex-web/tailwind.config.js
Due: root-install, web-install, web-lint

Feat/improve compete layout design (#132)
  services/hornex-web/public/images/league-of-legends/baron.jpg
  services/hornex-web/src/assets/images/games/league-of-legends/baron.jpg
  services/hornex-web/src/assets/images/games/league-of-legends/summoners-rift-map.png
  services/hornex-web/src/components/admin/molecules/admin-tournament-team-row/admin-tournament-team-row.tsx
  services/hornex-web/src/components/ui/atoms/connect-account-button.tsx
  services/hornex-web/src/components/ui/atoms/expired-login-button.tsx
  services/hornex-web/src/components/ui/atoms/sidebar.tsx
  services/hornex-web/src/components/ui/molecules/tournament-feed-item/tournament-feed-item.tsx
  services/hornex-web/src/components/ui/templates/tournaments-feed-template/tournaments-feed-template.tsx
  services/hornex-web/src/components/ui/templates/tournaments-feed-template/tournaments-feed-template.types.ts
  services/hornex-web/src/components/ui/toast.tsx
  services/hornex-web/src/config/routes.ts
  services/hornex-web/src/layouts/header.tsx
  services/hornex-web/src/layouts/index.tsx
  services/hornex-web/src/layouts/sidebar.tsx
  services/hornex-web/src/layouts/tournament/index.tsx
  services/hornex-web/src/layouts/tournament/layout.tsx
  services/hornex-web/src/layouts/tournament/sidebar.tsx
  services/hornex-web/src/lib/models/types/rest/get-tournaments.ts
  services/hornex-web/src/pages/[platform]/[game]/tournaments/[id]/index.tsx
  services/hornex-web/src/pages/_app.tsx
  services/hornex-web/src/pages/admin/tournaments/index.tsx
  services/hornex-web/src/pages/compete.tsx
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-Bold.ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-BoldItalic(1).ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-BoldItalic.ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-Heavy.ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-HeavyItalic.ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-Italic.ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-Light.ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-LightItalic.ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-Medium.ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-MediumItalic.ttf
  services/hornex-web/src/styles/fonts/BeaufortforLOL/BeaufortforLOL-Regular.ttf
  services/hornex-web/tailwind.config.js
Due: root-install, web-install, web-lint
